<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/pos/pos_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pos/option.css">
    <title>POS - 옵션 그룹 등록</title>
</head>
<body>
    <div class="container" layout:fragment="content">
        <div class="i-container">
            <h2>옵션 그룹 추가</h2>
            <form action="/pos/options/create" method="post">
                <div class="form-group">
                    <label for="name">옵션</label>
                    <input type="text" id="opt-g-name" name="opt-g-name" placeholder="옵션 그룹명을 입력해주세요." required>
                </div>
                <div class="form-group">
                    <span class="material-symbols-outlined">add_circle</span>
                    <button class="plus-box"><a href="#">추가</a></button>
                </div>
                <div class="opt-item">
                    <input type="text" id="opt-name" name="opt-name" placeholder="옵션명" required>
                    <input type="text" id="opt-price" name="opt-price" placeholder="금액" required>
                </div>
                <div class="button-group">
                    <button type="button" onclick="location.href='/pos/option'" class="cancel-btn">취소</button>
                    <button type="submit" class="insert-btn">등록</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
