<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/pos/pos_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pos/option.css">
    <title>POS - 옵션 목록</title>
</head>

<body>
    <div class="container" layout:fragment="content">
        <div class="i-container">
            <div class="opt-header">
                <h2>옵션 관리</h2>
                <button onclick="location.href='/pos/option/insert'">
                    <a class="material-symbols-outlined">add_circle</a>
                    <a href="#">추가</a>
                </button>
            </div>
            <div class="opt-item-list">
                <!-- 옵션 리스트 렌더링 -->
                <th:block th:if="${optionList != null}" th:each="option : ${optionList}">
                    <div class="opt-list">
                        <div class="opt-list-left">
                            <div class="opt-title">
                                <a th:text="${option.name}" th:href="|/pos/option/update/${option.id}|"></a>
                            </div>

                            <!-- 옵션 아이템 출력 -->
                            <th:block th:if="${option.itemList != null and not #lists.isEmpty(option.itemList)}">
                                <div class="opt-item" th:each="item : ${option.itemList}">
                                    <a th:text="${item.name}" href="javascript:void(0)"></a>
                                </div>
                            </th:block>

                            <!-- 아이템이 없을 경우 -->
                            <th:block th:if="${option.itemList == null or #lists.isEmpty(option.itemList)}">
                                <p>아이템 없음</p>
                            </th:block>
                        </div>

                        <div class="opt-list-right">
                            <a class="material-symbols-outlined" th:href="|/pos/option/update/${option.id}|">edit</a>
                        </div>
                    </div>
                </th:block>

                <!-- 옵션 리스트가 비어 있을 때 -->
                <th:block th:if="${optionList == null or optionList.isEmpty()}">
                    <p>등록된 옵션이 없습니다.</p>
                </th:block>
            </div>
        </div>
    </div>
</body>

</html>