<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/pos/pos_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pos/option.css">
    <title>POS - 옵션 목록</title>
</head>
<body>
    <div class="container" layout:fragment="content">
        <div class="i-container">
            <div class="opt-header">
                <h2>옵션 관리</h2>
                <button onclick="location.href='/pos/option/insert'">옵션 추가</button>
            </div>
            <div class="opt-item-list">
                <div class="opt-list">
                    <div class="opt-title"><a href="#">옵션명</a></div>
                    <div class="opt-item">
                        <a href="#">옵션아이템1</a>
                        <a href="#">옵션아이템2</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>
