<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/pos/pos_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pos/option.css">
    <title>POS - 옵션 그룹 수정</title>
</head>
<body>
    <div class="container" layout:fragment="content">
        <div class="i-container">
            <h2>옵션 그룹 수정</h2>
            <form action="/pos/options/update" method="put">
                <div class="form-group">
                    <label for="name">옵션</label>
                    <input type="text" id="opt-u-name" name="opt-u-name" placeholder="옵션 그룹명을 입력해주세요." required>
                </div>
                <div class="form-group">
                    <button><a href="#">+ 추가</a></button>
                </div>
                <div class="opt-item">
                    <input type="text" id="opt-name" name="opt-name" placeholder="옵션명" required>
                    <input type="text" id="opt-price" name="opt-price" placeholder="금액" required>
                </div>
                <div class="button-group">
                    <button type="button" class="delete-btn">삭제</button>
                    <button type="submit" class="update-btn">저장</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
