/* 중단 */
.delete-all-btn {
  background-color: #ff7622;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-left: auto;
}

.delete-all-btn:hover {
  background-color: #cc0000;
}

.cart-list {
  padding: 1.25rem 0;
  overflow-y: auto;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.cart-list:-webkit-scrollbar {
  display: none;
}

.cancel {
  width: auto;
  height: auto;
  padding: 15px;
  border-color: #ff7622;
  cursor: pointer;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 4px;
  background-color: white;
  margin-top: -20px;
  margin-bottom: 10px;
}

.c-card {
  width: 90%;
  height: 150px;
  border: 0.5px solid lightgray;
  margin-left: 5%;
  border-radius: 15px;
  border-width: 1.5px;
  font-size: large;
  font-weight: bold;
  margin-right: 30px;
  justify-content: space-between;
}

.c-price {
  font-size: 15px;
  width: 70px;
  font-weight: lighter;
}

.amount {
  font-size: 15px;
  width: 40px;
  color: rgb(163, 163, 163);
  font-weight: 100;
}

.price-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-left{
  margin-right: 30px;
}

.right-right {
  height: 100px;
  margin-bottom: 1px;
}

.list-right {
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 120px;
  height: 140px;
}

.item-info{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item-info .list-right{
  display: flex;
  
}
.item-info .list-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-right: auto;
}

.option {
  width: 80px;
  height: 30px;
  border-radius: 30px;
  background-color: rgb(207, 207, 207);
  cursor: pointer;
}

.option-list {
  margin-top: 1rem;
  font-size: 15px;
  width: 120px;
  font-weight: lighter;
}

/* 하단 */
.total-price {
  bottom: 3rem;
  right: 15rem;
  font-size: larger;
  justify-content: space-between;
}

.pay-btn {
  width: 139px;
  height: 50px;
  background-color: var(--main-color);
  border-radius: 8px;
  font-size: medium;
}

.pay-btn:hover {
  background-color: #e63939;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  cursor: pointer;
}