:root {

    --main-color : #ff7622; /* 메인 컬러 */
    --sub-color : #fff;
    --title-text-size : 30px;
    --menu-text-size : 40px;
    --normal-text-size : 14px;
    --large-text-size : 20px;
}
/* 상단 */
.tab-menu-wrap {
  max-width: 100%;
  overflow-x: scroll;
  height: 50px;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.tab-menu-wrap:-webkit-scrollbar {
  display: none;
}
.tab-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  
}
.db-tab-menu {
  display: grid;
  grid-template-columns: 50% 50%;
}

.tab-menu li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 8rem;
}

.active {
  color: #ff7622;
  text-decoration : underline;
  text-underline-offset : 95%;
  text-decoration-thickness: 2.3px;
}

.line {
  width: auto;
  height: 2px;
  background-color: #E4E4E4;
}


.qr_order{
    color: #ff7622;
    text-align: center;
    font-family: "Sen-ExtraBold", sans-serif;
    font-size: 32px;
    font-weight: 800;
    position: relative;
    width: 175px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
  .rectangle{
    box-sizing: border-box;
    background: var(--main-color);
    width: 200px;
    height: 200px;
    position: relative;
    margin-bottom: 30px;
    border-radius: 10px;
  }

  .div{
    display: flex;
    justify-content: center;
  }

.container {
  width: 100vw;
  height: 100vh;
  border: 1px dashed var(--main-color);
  position: relative;
  /* overflow: hidden; */
}

.card {
  width: 90%;
  height: 150px;
  border: 1px solid lightgray;
  margin-left: 5%;
  border-radius: 15px;
  border-width: 2.5px;
  font-size: large;
  font-weight: bold;
}

.total-card {
  width: 100%;
  height: 110px;
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: absolute;
  bottom: 0px;
}

.top-area {
  display: flex;  
  justify-content: space-between;
  align-items: center;
}

.menu-price {
  margin-right: 20px;
}

.info-box {
  width: 100%;
  margin-top: -30px;
}

.menu-info {
  margin: 0 10px;
  font-size: medium;
}

.menu-image {
  width : 170px;
}


.line2 {
  width: 100%;
  height: 2px;
  background-color: gray;
}

.cancel {
  width: 139px;
  height: 38px;
  border-color: #ff7622;

}

.c-card {
  width: 80%;
}

.c-icon {
  position: absolute;
  width: 80px;
  right: 2.5rem;
  bottom: 2.5rem;
}

.qr-list-bottom {
  position: relative;
  
}

.burger-png {
  width: 100%;
  height: 300px;
}

.payComplete {
  margin-top: 30%;
}

/* 버튼디자인 */

.circle-btn {
  border-radius: 50%;
}

.product-icon {
  width: 42px;
  height: 26px;
  border-radius: 20%;
  color: white;
  font-style: normal;
  font-size: medium;
}

/* 버튼 크기 */

.scale-large{
  width: 80px;
  height: 80px;
}

.scale-normal{
  width: 70px;
  height: 70px;
}

.scale-small{
  width: 30px;
  height: 30px;
}

.total {
  position: absolute;
  bottom: 3rem;
  left: 5rem;
  font-size: larger;
  color: gray;
}

.total-price {
  position: absolute;
  bottom: 3rem;
  right: 15rem;
  font-size: larger;
  justify-content: space-between;
}

.total-list-price {
  position: absolute;
  right: 5rem;
  bottom: 3rem;
  font-size: larger;
}

.total-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
}

.pay-btn {
  width: 139px;
  height: 50px;
  background-color: var(--main-color);
  border-radius: 8px;
  position: absolute;
  right: 2.5rem;
  bottom: 2rem;
  font-size: medium;
}

.c-add-btn {
  width: 100%;
  height: 100px;
  background-color: var(--main-color);
  border-radius: 8px;
  position: absolute;
  bottom: 2rem;
  font-size: medium;
}

.change-btn {
  width: 90%;
  height: 90px;
  background-color: var(--main-color);
  border-radius: 8px;
  bottom: 0.5rem;
  position: absolute;
  font-size: var(--large-text-size);
  margin: 20px;
}

.compl-text {
  font-size: large;
}

.OK {
  width: 90%;
  height: 90px;
  background-color: var(--main-color);
  border-radius: 8px;
  position: absolute;
  font-size: medium;
}

.order-list {
  width: 90%;
  height: 90px;
  background-color: var(--main-color);
  border-radius: 8px;
  position: absolute;
  font-size: medium;
  margin-top: 30%;
}

.border {
  margin: 20px;
}

.option-name {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 8px;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
}

/* 글씨 크기 */
.fs-normal {
  font-size: var(--large-text-size);
}

/* 글씨 두께 */
.fw-1 { font-weight: bold; }

/* 글씨 색상 */
.white {color: #fff;}
.dark {color: #333;}
.black {color: #000;}
/* 배경 색상 */
.bg-gray {
  background-color: #acacac;
}

.bg-blue {
  background-color: blue;
}

.bg-red {
  background-color: red;
}

.bg-yellow {
  background-color: rgb(255, 196, 0);
}

.bg-main {
  background-color: var(--main-color);
}


/* flex */
  .allcenter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .flex { display: flex; }
  .flex.flex-column { flex-direction: column; }
  .flex.justify-content-start { justify-content: start; }
  .flex.justify-content-end { justify-content: end; }
  .flex.justify-content-center { justify-content: center; }
  .flex.justify-content-between { justify-content: space-between;}
  .flex.justify-content-around { justify-content: space-around; }
  .flex.justify-content-evenly { justify-content: space-evenly;}

  .flex.align-items-start { align-items: start; }
  .flex.align-items-end { align-items: end; }
  .flex.align-items-center { align-items: center; }

  .flex.gap-1 { gap: 1rem; }
  .flex.gap-2 { gap: 1.25rem; }
  .flex.gap-3 { gap: 1.5rem; }
  .flex.gap-4 { gap: 1.75rem; }
  .flex.gap-5 { gap: 2rem; }


/* margin */
.ml-1 { margin-left: 1rem; }
.ml-2 { margin-left: 1.25rem; }
.ml-3 { margin-left: 1.5rem; }
.ml-4 { margin-left: 1.75rem; }
.ml-5 { margin-left: 2rem; }

.mt-0 { margin-top: 0.5rem; }
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 1.25rem; }
.mt-3 { margin-top: 1.5rem; }
.mt-4 { margin-top: 1.75rem; }
.mt-5 { margin-top: 2rem; }

.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 1.25rem; }
.mb-3 { margin-bottom: 1.5rem; }
.mb-4 { margin-bottom: 1.75rem; }
.mb-5 { margin-bottom: 2rem; }

.mr-1 { margin-right: 1rem; }
.mr-2 { margin-right: 1.25rem; }
.mr-3 { margin-right: 1.5rem; }
.mr-4 { margin-right: 1.75rem; }
.mr-5 { margin-right: 2rem; }

/* padding */

.p-50{padding: 50px;}
.p-40{padding: 40px;}
.p-30{padding: 30px;}
.p-20{padding: 20px;}
.p-10{padding: 10px;}


/* color */
.color-main { color: var(--main-color); }
.color-sub { color: var(--sub-color); }
.color-white { color: white; }