<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/qr/qr_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR오더</title>
</head>
<body layout:fragment="content">
    <div class="container">

        <!-- 상단 / 뒤로가기 -->
        <div class="qr-list-top flex justify-content-start align-items-center gap-2 p-10">
            <button onclick="location.href='/qr/list'" class="circle-btn bg-lightgray scale-normal dark"><img src="/img/back.png" class="back-icon scale-small" alt="뒤로가기"></button>
        <span class="fs-normal black">장바구니</span>
        </div>
    
        <!-- 카테고리 -->
        <div class="tab-menu-wrap">
            <ul class="tab-menu db-tab-menu">
                <li>
                    <a href="/qr/cart" class="tab-menu-item">
                        <span class="active">장바구니</span>
                    </a>
                </li>
                <li>
                    <a href="/qr/order" class="tab-menu-item">
                        <span>주문내역</span>
                    </a>
                </li>
            </ul>
        </div>
    
        <div class="line"></div>
    
        <!-- [중단] 장바구니 리스트
        
        - 상품이미지
        - 상품명
        - 가격
        - 수량
        - 옵션 변경
        - 삭제
        -->
        <th:block th:if="${productList != null}" th:each="product : ${productList}">
            <div class="c-card flex justify-content-start align-items-center mt-3">
                <img src="/img/pizza.png" alt="페퍼로니 피자" class="menu-image ml-1">
                <div class="menu-name">페퍼로니 피자</div>
                <div class="c-price">13000원</div>
                <div class="amount">1개</div>
                <div class="option">옵션변경</div>
                <button onclick="" class="cancel">삭제</button>
            </div>
        </th:block>
        
        <th:block th:if="${productList != null}" th:each="product : ${productList}">
            <div class="c-card flex justify-content-start align-items-center mt-3">
                <img src="/img/buerger.png" alt="불고기버거 세트" class="menu-image ml-1">
                <div class="menu-name">불고기버거 세트</div>
                <div class="c-price">10000원</div>
                <div class="amount">1개</div>
                <div class="option">옵션변경</div>
                <button onclick="" class="cancel">삭제</button>
            </div>
        </th:block>
        
        <th:block th:if="${productList != null}" th:each="product : ${productList}">
        <div class="c-card flex justify-content-start align-items-center mt-3">
            <img src="/img/coke.png" alt="콜라" class="menu-image ml-1">
            <div class="menu-name">콜라</div>
            <div class="c-price">2000원</div>
            <div class="amount">1개</div>
            <div class="option">옵션변경</div>
            <button onclick="" class="cancel">삭제</button>
        </div>
        </th:block>
    
        <!-- [하단] 	
        - 총 금액
        - 결제하기 
        -->
        <th:block>
            <div class="total-card flex justify-content-start align-items-center mt-3">
                <div class="total">TOTAL : </div>
                <div class="total-price">25,500원</div>
                <a href="/pay/pay" class="pay-button"><span class="color-white flex flex-column justify-content-center align-items-center mt-1">결제 하기</span></a>
            </div>
        </th:block>
    </div>
</body>
</html>
