<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/qr/qr_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR오더</title>
</head>
<body>
    <div class="container" layout:fragment="content">
        <div class="p-30">
            <!-- 상단 / 카테고리 -->
            <div class="qr-list-top flex justify-content-start align-items-center gap-2">
                <button onclick="history.back()" class="circle-btn bg-gray scale-normal dark">&lt;</button>
                <span class="fs-normal black">메뉴</span>
            </div>
            <!-- 상품 목록 -->
            <ul class="tab-menu mt-2">
                <a href="/"><li>전체</li></a>
                <a href="/"><li>메인 메뉴</li></a>
                <a href="/"><li>사이드 메뉴</li></a>
                <a href="/" class="active"><li>음료</li></a>
                <a href="/"><li>주류</li></a>
            </ul>

            <div class="line"></div>
    
            <!-- 카드 -->
            <div class="card flex justify-content-start align-items-center mt-3">
                <img src="/img/불고기버거 세트.png" alt="불고기버거" class="menu-image ml-1">
                <div class="menu-name">불고기버거 세트</div>
            </div>

            <!-- 하단 / 아이콘 -->

        </div>

    </div>
</body>
</html>
