<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/qr/qr_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR오더</title>
</head>
<body layout:fragment="content">
    <div class="container">
        <!-- 상단 / 뒤로가기 -->
        <div class="qr-list-top flex justify-content-start align-items-center gap-2 p-10">
            <button onclick="location.href='/qr/main'" class="circle-btn bg-lightgray scale-normal dark"><img src="/img/back.png" class="back-icon scale-small" alt="뒤로가기"></button>
            <span class="fs-normal black">메뉴</span>
        </div>

        <!-- 카테고리 -->
        <div class="tab-menu-wrap">
            <ul class="tab-menu">
                <li>
                    <a href="/qr/list" class="tab-menu-item">
                        <span th:classappend="${cateId == null ? 'active': ''}">전체</span>
                    </a>
                </li>
                <th:block th:if="${cateList != null}" th:each="cate : ${cateList}">
                    <li><a th:href="|/qr/list?cate=${cate.id}|" class="tab-menu-item">
                        <span th:classappend="${cate.id == cateId ? 'active': ''}" th:text="${cate.name}"></span>
                    </a></li>
                </th:block>
            </ul>
        </div>

        <div class="line"></div>

        <!-- 카드 -->
        <th:block th:if="${productList != null}" th:each="product : ${productList}">
        <a th:href="|/qr/read/${product.id}|">
            <div class="card flex justify-content-start align-items-center mt-3">
                <img src="/img/burger.png" th:alt="${product.name}" class="menu-image ml-1">
                <div class="info-box">
                <div class="top-area p-10 mb-1 ml-1">
                    <span class="menu-name" th:text="${product.name}"></span>
                    <span class="menu-price" th:text="${product.price}"></span>
                </div>
                    <!-- TODO:Product 객체 Files 객체 포함하고 xml java 매퍼 파일 수정 -->
                    <div class="bot-area">
                        <span class="menu-info p-10 ml-1" th:text="${product.description}"></span>
                        <!-- 아이콘: 신메뉴/추천메뉴/인기메뉴 -->
                        <div class="btn-box">
                            <th:blcok th:if="${favaorite}">
                                <i class="product-icon bg-blue">인기</i>
                            </th:blcok>
                            <th:blcok th:if="${recommend}">
                                <i class="product-icon bg-red">추천</i>
                            </th:blcok>
                            <th:blcok th:if="${newmenu}">
                                <i class="product-icon bg-yellow">NEW</i>
                            </th:blcok>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        </th:block>
        
        <!-- 하단 / 아이콘 -->
        <a href="/qr/cart">
            <img src="/img/cart.png" alt="qr매장" class="c-icon">
        </a>
    </div>
</body>
</html>
