<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/qr/qr_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR오더</title>
</head>
<body layout:fragment="content">
    <div class="container">
        <!-- 상단 / 뒤로가기 -->
        <div class="qr-list-top flex justify-content-start align-items-center gap-2 p-10">
            <button onclick="history.back()" class="circle-btn bg-gray scale-normal dark">&lt;</button>
            <span class="fs-normal black">메뉴</span>
        </div>

        <!-- 카테고리 -->
        <ul class="tab-menu mt-2">
            <a href="/qr/product/list" class="active"><li>전체</li></a>
            <th:block th:if="${cateList != null}" th:each="cate : ${cateList}">
                <li><a th:href="|/qr/list/${cate.id}|" th:text="${cate.name}"></a></li>
            </th:block>
        </ul>

        <div class="line"></div>

        <!-- 카드 -->
        <th:block th:if="${productList != null}" th:each="product : ${productList}">
        <div class="card flex justify-content-start align-items-center mt-3">
            <img th:src="/img/burger.png" alt="불고기버거" class="menu-image ml-1">
            <div class="menu-name">불고기버거 세트</div>
        </div>
        </th:block>
        

        <!-- 하단 / 아이콘 -->
            <a href="/qr/product/cart">
                <img src="/img/cart.png" alt="qr매장" class="c-icon">
            </a>
    </div>
</body>
</html>
