<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/qr/qr_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR오더</title>
</head>
<body layout:fragment="content">
    <div class="container">
        <!-- [상단] 닫기
                    - 상품명
                    - 옵션 변경 
        -->	
        <div class="qr-list-top flex justify-content-start align-items-center gap-2 p-10">
            <button onclick="history.back()" class="circle-btn bg-lightgray scale-normal dark"><img src="/img/back.png" class="back-icon scale-small" alt="뒤로가기"></button>
            <span class="fs-normal black">불고기 버거</span>
        </div>


        
            <div class="option-name ml-1 mb-5">옵션변경</div>
            <!-- [중단] 옵션 리스트	
                        - 체크박스
                        - 옵션명
                        - 가격
                        - 수량
            -->
            
            <div class="checkbox-container ml-3 mb-5">
                <th:block th:if="${itemList != null}" th:each="item: ${itemList}">
                    <div>
                        <input type="checkbox">
                        <span th:text="${item.name}"></span>
                        <span> + </span>
                        <span th:text="${item.price}"></span>
                        <span> 원 </span>
                    </div>
                </th:block>
            </div>
        </th:block>

        <!-- [하단] 변경하기 -->
         <div class="change-btn-border">
             <button onclick="history.back()" class="change-btn white">변경하기</button>
         </div>
    </div>
</body>
</html>
