<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/qr/qr_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR오더</title>
</head>

<body layout:fragment="content">
    <div class="option-container">
        <div class="container bg-white border10">
            <!-- [상단] 닫기
            - 상품명
            - 옵션 변경 
            -->
            <div class="back flex justify-content-start align-items-center gap-2 p-10 bg-white border10">
                <span class="menu-pop-name fs-large black ml-5"
                    th:text="${product != null and product.name != null ? product.name: ''}"></span>
            </div>

            <div class="option-name ml-1 mb-5 mt-3">옵션변경</div>
            <!-- [중단] 옵션 리스트	
                - 체크박스
                - 옵션명
                - 가격
                - 수량
                -->
            <form onsubmit="return false" id="cart-update">
                <input type="hidden" th:field="${cart.id}">
                <th:block th:if="${product.option != null}">
                    <input type="hidden" id="optionId" th:value="${product.option.id}">
                    <div class="title mt-5 mb-5 ml-4 fs-normal">옵션 선택</div>
                    <div class="checkbox-container ml-5 mb-5">
                        <th:block th:if="${optionList != null and not optionList.isEmpty()}"
                            th:each="item, iterStat : ${optionList}">
                            <label class="option-checkbox flex align-items-center mr-5 ml-5" th:for="${item.id}">
                                <input type="checkbox" th:id="${item.id}" name="itemList" th:value="${item.id}" th:checked="${item.checked ? true : false}">
                                <span th:text="${item.name}"></span>
                                <div class="read-option-price mr-5">
                                    <span th:text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}"></span>
                                </div>
                            </label>
                        </th:block>
                    </div>
                </th:block>
            </form>
        </div>

        <!-- [하단] 변경하기 -->
        <div class="change-btn-border">
            <button onclick="" class="change-btn white">변경하기</button>
        </div>
    </div>
</body>

</html>