<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/qr/qr_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR오더</title>
</head>
<body>
    <div class="container" layout:fragment="content">
        <!-- [상단] 상품명,닫기버튼 -->
        <!-- [중단] 상품정보 - 이미지,설명,수량-->
        <!-- [중단] 옵션선택 - 체크박스,옵션명,가격,수량 -->
        <!-- [하단] 장바구니 추가 버튼 -->
    </div>
</body>
</html>
