<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=close" />
    <link rel="stylesheet" href="/css/pos/payment.css">
    <title>POS</title>
</head>
<body>
    <div class="can-container">
        <!-- [상단]	닫기 버튼 -->
        <div class="can-cancel-title">
            <h4>환불</h4>
            <a href="/freeorder/src/main/resources/templates/views/pos/product/products.html">
                <span class="material-symbols-outlined">
                    close
                </span>
            </a>
        </div>
        <!-- 리스트:체크박스	결제 리스트 -->
         <div class="can-cancel-list">
            <div class="cancel-card">
                <input type="checkbox" name="paylist" id="paylist">
                <p>샘플 김치찌개</p>
                <p class="can-price">45,000원</p>
            </div>
            <div class="can-cancel-card">
                <input type="checkbox" name="paylist" id="paylist">
                <p>샘플 김치찌개</p>
                <p class="can-price">45,000원</p>
            </div>
            <div class="can-cancel-card">
                <input type="checkbox" name="paylist" id="paylist">
                <p>샘플 김치찌개</p>
                <p class="can-price">45,000원</p>
            </div>
            <div class="can-cancel-card">
                <input type="checkbox" name="paylist" id="paylist">
                <p>샘플 김치찌개</p>
                <p class="can-price">45,000원</p>
            </div>
            <div class="can-cancel-card">
                <input type="checkbox" name="paylist" id="paylist">
                <p>샘플 김치찌개</p>
                <p class="can-price">45,000원</p>
            </div>
            <div class="can-cancel-card">
                <input type="checkbox" name="paylist" id="paylist">
                <p>샘플 김치찌개</p>
                <p class="can-price">45,000원</p>
            </div>
            <div class="can-cancel-card">
                <input type="checkbox" name="paylist" id="paylist">
                <p>샘플 김치찌개</p>
                <p class="can-price">45,000원</p>
            </div>
            <div class="can-cancel-card">
                <input type="checkbox" name="paylist" id="paylist">
                <p>샘플 김치찌개</p>
                <p class="can-price">45,000원</p>
            </div>
            <div class="can-cancel-card">
                <input type="checkbox" name="paylist" id="paylist">
                <p>샘플 김치찌개</p>
                <p class="can-price">45,000원</p>
            </div>

         </div>
        <!-- 총 환불 금액	체크 환불 금액 -->
         <div class="can-total">
            <h3>총 환불 금액</h3>
            <h3 class="can-total-h3">45,000원</h3>
         </div>
        <!-- 환불 버튼	환불 버튼 -->
         <div class="can-btn">
            <button type="submit" class="can-cancel-btn">환불</button>
         </div>
    </div>
</body>
</html>
