<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS</title>
</head>
<body>
    <div class="container">
        <!-- 리스트:체크박스	결제 리스트 -->
        <!-- 총 환불 금액	체크 환불 금액 -->
        <!-- 환불 버튼	환불 버튼 -->
    </div>
</body>
</html>
