<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/pos/pos_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=close" />
    <link rel="stylesheet" href="/css/pos/payment.css">
    <title>POS</title>
</head>

<body>
    <div class="ls-container" layout:fragment="content">
        <div class="ls-left-container">
            <div class="ls-back-title">
                <div class="ls-payment-title">
                    <a href="">
                        <span class="material-symbols-outlined">close</span>
                    </a>
                    <h3>결제 내역</h3>
                </div>
            </div>

            <div class="ls-filter-part">
                <div>
                    <button type="button" class="ls-filter-btn">1주</button>
                    <button type="button" class="ls-filter-btn">결제수단</button>
                    <button type="button" class="ls-filter-btn">채널</button>
                </div>
                <div class="ls-input-filter">
                    <input type="text" name="card-num" id="card-num" placeholder="카드번호 앞 6자리/금액">
                    <button type="button" class="ls-read-btn">조회</button>
                </div>
            </div>

            <ul class="ls-list-part">
                <th:block th:if="${payList != null and not payList.isEmpty()}" th:each="payment : ${payList}">
                    <li>
                        <div class="ls-time">
                            <p th:text="${#dates.format(payment.paidAt,'EEEE')}">금요일</p>
                            <p th:text="${#dates.format(payment.paidAt,'yyyy-MM-dd')}">2024.11.29</p>
                        </div>
                        <a href="" class="ls-detail-link">
                            <div class="ls-payment">
                                <p th:text="${payment.paymentMethod}">카드</p>
                            </div>
                            <div class="ls-simple">
                                <h3 th:text="${#numbers.formatInteger(payment.order.totalPrice, 3, 'COMMA') + '원'}">52,000원</h3>
                                <h5 th:text="${payment.order.title}">김치찌개 외 2건</h5>
                            </div>
                            <div class="ls-table">
                                <h5 th:text="${#dates.format(payment.paidAt,'hh:mm')}">11:04</h5>
                                <h6 th:text="|주문번호 : ${payment.order.orderNumber}|">주문번호 1</h6>
                            </div>
                        </a>
                    </li>
                </th:block>
                <th:block th:if="${payList == null or payList.isEmpty()}">
                    <li>
                        <span>결제 내역이 없습니다.</span>
                    </li>
                </th:block>
            </ul>

        </div>
        <div class="ls-right-container" id="right-payment-info">
            
        </div>
    </div>
</body>

</html>