<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS</title>
</head>
<body>
    <div class="container">
        <!-- [기간 설정]	기간 설정 버튼 -->
        <!-- [결제 수단]	결제 수단 선택 -->
        <!-- [취소]	취소 버튼 -->
        <!-- [적용]	적용 버튼 -->
    </div>
</body>
</html>
