<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link -->
    <th:block th:replace="~{fragments/pos/link::link}"></th:block>
</head>
<body>
    <div class="layout">
        <!-- header -->
        <th:block th:replace="~{fragments/pos/header::header}"></th:block>
        <div class="more-layout">
            <!-- leftmenu -->
            <th:block th:replace="~{fragments/pos/leftmenu::leftmenu}"></th:block>
        
            <!-- ⭐ content -->
            <th:block layout:fragment="content"></th:block>
        </div>
        
        <!-- footer -->
        <th:block th:replace="~{fragments/pos/footer::footer}"></th:block>
    </div>

    <!-- sidebar -->
    <th:block th:replace="~{fragments/pos/sidebar::sidebar}"></th:block>

    <!-- script -->
    <th:block th:replace="~{fragments/pos/script::script}"></th:block>
</body>
</html>