<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/pos/pos_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pos/product.css">
    <title>POS</title>
</head>
<body>
    <div class="l-container" layout:fragment="content">
            <!-- [상단] 취소 버튼 -->
             <div class="l-btn-container">
                 <a href="/pos/product">
                     <button type="button" class="l-cancel-btn">취소</button>
                 </a>
                    <button type="button" class="l-save-btn">저장</button>
             </div>
     
             <!-- [헤더] 상품 선택 안내 -->
             <div class="l-select-title">
                 <h3>상품을 끌어서 순서를 변경하세요.</h3>
             </div>
     
             <!-- [중단] 상품 목록 -->
             <div class="l-product-list">
                <th:block th:if="${productList != null}" th:each="product : ${productList}">
                    <div class="l-product-card">
                        <div class="product-image-placeholder">
                            <img th:src="|/pimg?id=${product.id}|" alt="" width="100%" height="100%">
                        </div>
                        <span class="product-name" th:text="${product.name}"></span>
                        <span class="product-price" th:text="${product.price} + '원'"></span>
                    </div>
                </th:block>
                <th:block th:if="${productList.isEmpty()}">
                    상품이 없습니다.
                </th:block>
            </div>
        </div>
</body>

</html>
