<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/pos/pos_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS</title>
    <style>
         a {
            text-decoration: none; 
            color: inherit;       
        }
    </style>
</head>
<body>
    <div class="container" layout:fragment="content">
        <div class="container">
            <!-- [상단] 취소 버튼 -->
             <div>
                 <a href="">
                     <button type="button">취소</button>
                 </a>
             </div>
             <!-- 저장 버튼 -->
             <div>
                <a href="">
                    <button type="button">저장</button>
                </a>
             </div>
     
             <!-- [헤더] 상품 선택 안내 -->
             <div>
                 <h3>상품을 끌어서 순서를 변경하세요.</h3>
             </div>
     
             <!-- [중단] 상품 목록 -->
             <section class="product-list">
                 <a href="" class="product-card">
                     <h4>상품 A</h4>
                     <p>10,000원</p>
                 </a>
     
                 <a href="" class="product-card">
                     <h4>상품 B</h4>
                     <p>20,000원</p>
                 </a>
     
                 <a href="" class="product-card">
                     <h4>상품 C</h4>
                     <p>15,000원</p>
                 </a>
             </section>
         </div>
    </div>
</body>
</html>
