<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/pos/pos_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pos/product.css">
    <title>POS</title>
</head>
<body>
    <div class="l-container" layout:fragment="content">
            <!-- [상단] 취소 버튼 -->
             <div class="l-btn-container">
                 <a href="">
                     <button type="button" class="l-cancel-btn">취소</button>
                 </a>
                 <a href="">
                    <button type="button" class="l-save-btn">저장</button>
                </a>
             </div>
     
             <!-- [헤더] 상품 선택 안내 -->
             <div class="l-select-title">
                 <h3>상품을 끌어서 순서를 변경하세요.</h3>
             </div>
     
             <!-- [중단] 상품 목록 -->
             <section class="l-product-list">
                 <a href="" class="l-product-card">
                     <h4>상품 A</h4>
                     <br>
                     <p>10,000원</p>
                 </a>
     
                 <a href="" class="l-product-card">
                     <h4>상품 B</h4>
                     <br>
                     <p>20,000원</p>
                 </a>
     
                 <a href="" class="l-product-card">
                     <h4>상품 C</h4>
                     <br>
                     <p>15,000원</p>
                 </a>
             </section>
    </div>
</body>
</html>
