<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/pos/pos_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/pos/product.css">
    <title>POS</title>
</head>
<body>
    <div class="products-container" layout:fragment="content">
        <!-- 왼쪽: 카테고리와 상품 목록 -->
        <div class="left-container">
            <div class="p-categories">
                <div class="p-category-list">
                    <a href="">
                        <div class="p-category-card">
                            <span class="material-symbols-outlined">fastfood</span>
                            <p>햄버거</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="p-category-card">
                            <span class="material-symbols-outlined">fastfood</span>
                            <p>햄버거</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="p-category-card">
                            <span class="material-symbols-outlined">fastfood</span>
                            <p>햄버거</p>
                        </div>
                    </a>
                    <a href="">
                        <div class="p-category-card">
                            <span class="material-symbols-outlined">fastfood</span>
                            <p>카테고리 추가</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="p-products">
                <div class="p-product-list">
                    <a href="" class="p-product-card">
                        <div>
                            <img src="/img/burger.png" alt="불고기버거">
                            <p>불고기버거</p>
                            <p>50,000원</p>
                        </div>
                    </a>
                    <a href="" class="p-product-card">
                        <div>
                            <img src="/img/burger.png" alt="불고기버거">
                            <p>불고기버거</p>
                            <p>50,000원</p>
                        </div>
                    </a>
                    <a href="" class="p-product-card">
                        <div>
                            <img src="/img/burger.png" alt="불고기버거">
                            <p>불고기버거</p>
                            <p>50,000원</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- 오른쪽: 주문 영역 -->
        <div class="right-container">
            <div class="p-order-part">
                <div class="p-setting-btns">
                    <div class="p-search">
                        <a href="">
                            <span class="material-symbols-outlined">search</span>
                        </a>
                    </div>
                    <div class="p-settings">
                        <a href="">
                            <span class="material-symbols-outlined">settings</span>
                        </a>
                    </div>
                    <button class="p-all-delete" type="button">전체 삭제</button>
                </div>
                <div class="p-order-list pl">
                    <h1>주문 목록</h1>
                </div>
                <div class="p-payment">
                    <button class="p-pay-btn" type="button">총 합계 : 50,000원</button>
                    <button class="p-add-btn" type="button">금액 입력</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
