<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/pos/pos_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS</title>
</head>
<body>
    <div class="container" layout:fragment="content">
        <!-- [상단]	카테고리 목록 -->
            <!-- 서치 -->
            <!-- 설정 -->
        <!-- [중단]	상품 목록 -->
            <!--  -->
        <!-- [사이드]	상품 주문 목록 -->
            <!-- 상품 주문 전체 삭제 -->
            <!-- 결제 -->
            <!-- 추가 금액 입력 -->
    </div>
</body>
</html>
