<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/pos/pos_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=close" />
    <link rel="stylesheet" href="/css/pos/product.css">
    <title>POS</title>
</head>
<body>
    <div class="s-container" layout:fragment="content">
        <div class="s-setting-container"></div>
        <div class="s-setting-title">
            <h5>상품 설정</h5>
            <a href="">
                <span class="material-symbols-outlined">
                    close
                </span>
            </a>
        </div>
        <div class="s-product-all">
            <!-- [상품]	수정할 상품 선택 -->
             <div class="s-sub-title">
                 <h3>상품</h3>
             </div>
           <div class="s-product-setting">
               <!-- 상품 등록 -->
               <a href="" class="s-product-card">
                   <div>
                       <img src="/img/상품 정보 수정.png" alt="">
                       <h4>상품 등록</h4>
                   </div>
               </a>
               <!-- 상품 정보 수정 -->
               <a href="" class="s-product-card">
                   <div>
                       <img src="/img/상품 정보 수정.png" alt="">
                       <h4>상품 정보 수정</h4>
                   </div>
               </a>
               <!-- 상품 배치 수정 -->
               <a href="" class="s-product-card">
                   <div>
                       <img src="/img/상품 배치 수정.png" alt="">
                       <h4>상품 배치 수정</h4>
                   </div>
               </a>
               <!-- 상품 카드 보기 방식 -->
               <a href="" class="s-product-card">
                   <div>
                       <img src="/img/상품 카드 보기 방식.png" alt="">
                       <h4>상품 카드 보기 방식</h4>
                   </div>
               </a>
           </div>
        </div>
        <div class="s-category-all">
            <div class="s-sub-title">
                 <h3>카테고리</h3>
            </div>
            <div class="s-category-setting">
                <!-- 카테고리 정보 수정 -->
                <a href="">
                    <div class="s-category-card">
                        <img src="/img/카테고리 정보 수정.png" alt="">
                        <h4>카테고리 정보 수정</h4>
                    </div>
                </a>
                <!-- 카테고리 순서 변경 -->
                <a href="">
                    <div class="s-category-card">
                        <img src="/img/카테고리 순서 변경.png" alt="">
                        <h4>카테고리 순서 변경</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
