<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pos/product.css">
    <title>POS</title>
</head>
<body>
    <div class="ul-container">
       <!-- [상단] 취소 버튼 -->
        <div class="ul-cancel-container">
            <a href="">
                <button type="button" class="ul-cancel-btn">취소</button>
            </a>
        </div>
        
        <div class="ul-list-title">
            <h3>수정할 상품을 선택해 주세요.</h3>
        </div>

        <!-- [헤더] 상품 선택 안내 -->

        <!-- [중단] 상품 목록 -->
        <section class="ul-product-list">
            <a href="" class="ul-product-card">
                <h4>상품 A</h4>
                <br>
                <p>10,000원</p>
            </a>

            <a href="" class="ul-product-card">
                <h4>상품 B</h4>
                <br>
                <p>20,000원</p>
            </a>

            <a href="" class="ul-product-card">
                <h4>상품 C</h4>
                <br>
                <p>15,000원</p>
            </a>
        </section>
    </div>
</body>
</html>
