<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/pos/pos_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pos/product.css">
    <title>POS</title>
</head>
<body>
    <div class="ul-container" layout:fragment="content">
        <div class="ul-container-son">
            <!-- [상단] 취소 버튼 -->
             <div class="ul-cancel-container">
                 <a href="/pos/product">
                     <button type="button" class="ul-cancel-btn">취소</button>
                 </a>
             </div>
             
             <div class="ul-list-title">
                 <h3>수정할 상품을 선택해 주세요.</h3>
             </div>
     
             <!-- [헤더] 상품 선택 안내 -->
     
             <!-- [중단] 상품 목록 -->
             <div class="ul-product-list">
                 <th:block th:if="${productList != null}" th:each="product : ${productList}">
                     <a class="ul-product-card" th:href="|/pos/product/update/${product.id}|">
                         <div class="product-image-placeholder">
                             <img th:src="|/pimg?id=${product.id}|" alt="" width="100%" height="100%">
                         </div>
                         <span class="product-name" th:text="${product.name}"></span>
                         <span class="product-price" th:text="${product.price} + '원'"></span>
                     </a>
                 </th:block>
                 <th:block th:if="${productList.isEmpty()}">
                     상품이 없습니다.
                 </th:block>
             </div>
        </div>
    </div>
</body>
</html>
