<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS</title>
</head>
<body>
    <div class="container">
        <!-- [상단]	닫기 버튼 -->
        <!-- [정보 입력 폼]	상품명 입력창 -->
            <!-- 가격 입력창 -->
            <!-- 카테고리 선택창 -->
            <!-- 상품 정보 입력창 -->
            <!-- 상품 이미지 선택창 -->
            <!-- 옵션 선택 버튼 -->
        <!-- [하단]	저장 버튼 -->
            <!-- 상품 삭제 버튼 -->
    </div>
</body>
</html>
