<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/pos/pos_layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pos/product.css">
    <title>POS - 상품 수정</title>
</head>
<body>
    <div class="container" layout:fragment="content">
        <div class="u-container">
            <!-- [상단] 닫기 버튼 -->
            <div class="u-update-title">
                <h4>상품 수정</h4>
                <a href="/pos/product"><span class="material-symbols-outlined">close</span></a>
            </div>
            <!-- [정보 입력 폼] -->
            <form class="u-update-form" id="pro-update" method="post">
                <h2>기본 정보</h2>
                
                <!-- 상품 ID (숨김 처리) -->
                <input type="hidden" name="id" th:value="${product.id}">

                <!-- 상품명 입력 -->
                <div class="u-input-name">
                    <label for="name">상품명</label>
                    <input type="text" name="name" id="name" th:value="${product.name}" placeholder="상품명을 입력하세요." required>
                </div>
                
                <!-- 가격 입력 -->
                <div class="u-input-price">
                    <label for="price">가격</label>
                    <input type="number" name="price" id="price" th:value="${product.price}" placeholder="가격을 입력하세요." required>
                </div>
                
                <!-- 카테고리 선택 -->
                <div class="u-input-category">
                    <label for="categoryId">카테고리</label>
                    <select name="categoryId" id="categoryId" required>
                        <option value="">카테고리 선택</option>
                        <th:block th:each="cate : ${cateList}">
                            <option th:value="${cate.id}" th:text="${cate.name}" th:selected="${cate.id == product.categoryId}"></option>
                        </th:block>
                    </select>
                </div>

                <!-- 상품 이미지 선택 -->
                <div class="u-input-img">
                    <label for="productFile">상품 이미지</label>
                    <input type="file" name="productFile" id="productFile">
                </div>
                
                <!-- 상품 정보 -->
                <!-- <div class="u-input-description">
                    <label for="description">상품 정보</label>
                    <input type="text" name="description" id="description" th:value="${product.description}" placeholder="상품 정보를 입력하세요.">
                </div> -->
                
                <!-- 버튼 -->
                <div class="u-btns">
                    <button type="button" onclick="proDelete()" class="u-delete-btn">삭제</button>
                    <button type="button" onclick="proUpdate()" class="u-save-btn">저장</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
