<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS</title>
    <style>
        a {
            text-decoration: none; 
            color: inherit;       
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- [상단]	취소 버튼 -->
        <div>
            <a href="">
                <button type="button">취소</button>
            </a>
        </div>
        <div>
            <h3>수정할 상품을 선택해 주세요.</h2>
        </div>
            <!-- [중단]	상품 목록 -->
        <div class="product-list">
            <a href="" class="product-card">
                <h4>상품 A</h4>
                <p>10,000원</p>
            </a>

            <a href="" class="product-card">
                <h4>상품 B</h4>
                <p>20,000원</p>
            </a>

            <a href="" class="product-card">
                <h4>상품 C</h4>
                <p>15,000원</p>
            </a>
        </div>
    </div>
</body>
</html>
