/* 공지사항 css */
.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.notice {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notice h1 {
    font-size: 1.8rem;
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
}

.notice-title,
.notice-content {
    width: 100%;
    margin-bottom: 20px;
}

.notice-title a,
.notice-content a {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    color: #555555;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 10%;
}

.notice-title input,
.notice-content textarea {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: color 0.3s;
}

.notice-title input:focus,
.notice-content textarea:focus {
    border-color: #3b85ba;
    outline: none;
}

.notice-content textarea {
    resize: none;
    height: 150px;
}

.insert-btn {
    text-align: center;
}

.insert-btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #3b85ba;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.insert-btn:hover {
    filter: brightness(90%);
    cursor: pointer;
}