/* 공지사항 css */
.container {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.notice {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notice h1 {
    font-size: 1.8rem;
    color: #333333;
    margin-bottom: 20px;
    text-align: center;
}

/* 라디오박스 */
.notice-radio {
    width: 80%;
    padding: 0 15px;
    height: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.radio-wrap {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    border: max(2px, 0.1em) solid gray;
    border-radius: 1.25em;
    width: 2.25em;
    height: 1.25em;
}

[type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: gray;
    transition: left 250ms linear;
}

[type="checkbox"]:checked::before {
    background-color: white;
    left: 1em;
}

[type="checkbox"]:checked {
    background-color: tomato;
    border-color: tomato;
}

[type="checkbox"]:disabled {
    border-color: lightgray;
    opacity: 0.7;
    cursor: not-allowed;
}

[type="checkbox"]:disabled:before {
    background-color: lightgray;
}

[type="checkbox"]:disabled+span {
    opacity: 0.7;
    cursor: not-allowed;
}

[type="checkbox"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) solid tomato;
}

[type="checkbox"]:enabled:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
}

.radio-wrap label {
    padding: 5px;
    cursor: pointer;
    user-select: none;
    background-color: #eee;
    border-radius: 5px;

}

/* 타이틀 / 컨텐츠 */
.notice-title,
.notice-content {
    width: 100%;
    margin-bottom: 20px;
}

.notice-title a,
.notice-content a {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    color: #555555;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 10%;
}

.notice-title input,
.notice-content textarea {
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: color 0.3s;
}

.notice-title input:focus,
.notice-content textarea:focus {
    border-color: #3b85ba;
    outline: none;
}

.notice-content textarea {
    resize: none;
    height: 150px;
}

.insert-btn {
    text-align: center;
}

.insert-btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #3b85ba;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.insert-btn:hover {
    filter: brightness(90%);
    cursor: pointer;
}