/* 결제 내역 list.html */
a {
    text-decoration: none; 
    color: inherit;       
}
.ls-container {
    width: 100%;
    display: grid;
    grid-template-columns: 500px 1000px;
    height: auto; /* 화면 전체 높이 */
   
}
.ls-left-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
}
.ls-right-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
}
.ls-left-column{
    display: grid;
    grid-template-rows: 100px 150px 750px; 
}
.ls-back-title,
.ls-filter-part,
.ls-list-part,
.ls-detail-part {
    padding: 20px;
    border-radius: 5px;
}
.ls-payment-title{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    gap: 20px;
}
.ls-payment-title .material-symbols-outlined{
    font-size: 30px;
}
.ls-filter-part{
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.ls-filter-part .ls-filter-btn{
    background-color: white;
    width: 80px;
    font-size: 16px;
    border-radius: 15px;
    padding: 7px;
    border: 1px solid rgb(184, 184, 184);
}
.ls-input-filter{
    gap: 10px;
    display: flex;
    padding: 5px;
}
.ls-input-filter input{
    width: 350px;
    height: 45px;  
    padding: 5px;  
    box-sizing: border-box; 
    border-radius: 10px;
    border: 1px solid rgb(184, 184, 184);
}
.ls-read-btn{
    width: 100px;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.ls-list-part {
    display: flex;
    flex-direction: column;
}

.ls-time{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(184, 184, 184, 0.5);
    background-color: rgb(201, 203, 205);
    font-weight: bold;
}

.ls-detail-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(184, 184, 184, 0.5);
    text-decoration: none;
    background-color: #f9f9f9;
    gap: 20px;
}

.ls-detail-link .ls-payment {
    background-color: rgb(152, 150, 150);
    color: white;
    flex-shrink: 0;
    text-align: center;
    width: 80px;
    margin: 0 10px;
    border-radius: 10px;
}

.ls-detail-link .ls-simple {
    flex: 1;
}

.ls-detail-link .ls-table {
    text-align: right;
    flex-shrink: 0;
    width: 150px;
}
.ls-pay-compl{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.ls-pay-compl h3{
    color: green;
}
.ls-pay-compl h4{
    color: rgb(198, 200, 198);
}
.ls-total-pay{
    border-bottom: 1px solid rgb(198, 200, 198);
    margin-bottom: 20px;
}
.ls-total-pay h5{
    color: rgb(97, 98, 97);
}
.ls-total-price{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(198, 200, 198);
    margin-bottom: 20px;
}
.ls-cancel-price{
    display: flex;
    justify-content: space-between;
    color:rgb(104, 105, 104);
    margin-bottom: 20px;
}
.ls-cancel-total{
    display: flex;
    justify-content: space-between;
    color:rgb(104, 105, 104);
}
.ls-btns{
    display: flex;
    gap: 20px;
}
.ls-delete-btn{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    color: red;
}
.ls-save-btn{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    color: cornflowerblue;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
}
.ls-re-btn{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    color: cornflowerblue;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
}
.ls-detail-pay{
    margin-top: 10px;
    border: 1px solid rgb(198, 200, 198);
    border-radius: 5px;
    padding: 10px;
}
.ls-detail-pay h4{
    color : rgb(104, 105, 104);
}
.ls-pay-list{
    margin-top: 10px;
    border: 1px solid rgb(198, 200, 198);
    border-radius: 5px;
    padding: 10px;
}
.ls-pay-list .ls-list-detail{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(198, 200, 198);
}
.ls-pay-list h4{
    color : rgb(104, 105, 104);
}
.ls-reward{
    margin-top: 10px;
    border: 1px solid rgb(198, 200, 198);
    border-radius: 5px;
    padding: 10px;
}
.ls-reward h4{
    color : rgb(104, 105, 104);
}
.ls-reward .ls-reward-btn{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    color: cornflowerblue;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
}
.ls-add{
    margin-top: 10px;
    border: 1px solid rgb(198, 200, 198);
    border-radius: 5px;
    padding: 10px;
}
.ls-add h4{
    color : rgb(104, 105, 104);
}
.ls-add .ls-add-btn{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    color: cornflowerblue;
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid cornflowerblue;
}

/* 결제 설정 setting.html */
.ps-filter-title{
    width: 1500px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.ps-filter-title .material-symbols-outlined{
    font-size: 30px;
}
.ps-container {
    border: 1px dashed coral;
    width: 1500px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ps-period-main{
    width: 600px;
}
.ps-period-title{
    margin-top: 50px;
    margin-bottom: 15px;

}
.ps-period-setting{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.ps-week-btn, .ps-month-btn, .ps-today-btn{
    width: 200px;
    height: 60px;
    padding: 10px;
    font-size: 16px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
}
.ps-period-btn{
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    background-color: rgb(217, 213, 213);
    color: cornflowerblue;
}
.ps-select-payment{
    width: 600px;
    gap: 10px;
    display: flex;
    flex-direction: column; 
    padding: 10px;
    margin-top: 15px;
}
.ps-select-payment select{
    height: 50px;  
    padding: 10px;  
    box-sizing: border-box; 
    border-radius: 10px;
}
.ps-main-btn{
    margin-top: 300px;
    width: 600px;
    display: flex;
    padding-top: 50px;
    gap: 20px;
}
.ps-delete-btn{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(167, 164, 164);
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    color: rgb(90, 87, 87);
}
.ps-save-btn{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: cornflowerblue;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

/* 결제 설정 cancellation.html */
.can-cancel-title{
    width: 1500px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}

.can-container{
    display: flex;
    flex-direction: column;
    border: 1px dashed coral;
    width: 1500px;
    height: 1000px;
    align-items: center;
}
.can-cancel-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    margin-top: 30px;
}
.can-cancel-card{
    display: flex;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(211, 209, 209);
}
.can-cancel-card .can-price{
    margin-left: auto;
}

.ls-payment-title a .material-symbols-outlined {
    font-size: 36px;
    padding-top: 5px;
}
.can-cancel-card input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
}
.can-total{
    display: flex;
    justify-content: center;
    width: 800px;
    margin-top: 30px;
}
.can-total .can-total-h3{
    margin-left: auto;
}
.can-btn{
    display: flex;
    padding-top: 50px;
}
.can-cancel-btn{
    width: 800px;
    padding: 10px;
    font-size: 16px;
    background-color: cornflowerblue;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}