:root {

    --main-color : #3b85ba; /* 메인 컬러 */
    --sub-color : #fff;
    --title-text-size : 30px;
    --menu-text-size : 40px;
    --normal-text-size : 14px;
    --large-text-size : 20px;
    --footer-font-color : #7C8694;
}
*{
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}
*:-webkit-scrollbar {
    display: none;
}
/* 글씨 색상 */
.white {color: #fff;}
.dark {color: #333;}
.black {color: #000;}
.darkgray {color : var(--footer-font-color);}

/* 레이아웃 */
body{
    display: grid;
    grid-template-columns: auto 400px;
}
.layout{
    height: 100vh;
    display: grid;
    grid-template-rows: 70px auto 100px;
}


/* 헤더 시작 */
header{
    width: 100%;
    min-height: 70px;
    background-color: #acacac;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
header .logo{
    width: 200px;
    height: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}
header .logo .logo-img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
header .logo .logo-img:hover{
    cursor: pointer;
}
header .logo a{
    color: white;
}
header .header-content{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: end;
    align-items: center;
    gap: 5rem;
}
header .open-btn{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: end;
}
header .open-btn button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    display: none;
    cursor: pointer;
}
header .open-btn button.end {
    background-color: #ff6868;
}
header .open-btn button.active {
    display: block;
}
header .time a{
    color: white;
    font-weight: bold;
}
header .status{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
header .status .status-on{
    width: 10px;
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #00A870;
    margin-right: 10px;
}
header .status .status-off{
    width: 10px;
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #da0202;
    margin-right: 10px;
}
header .status .status-name{
    font-size: 12px;
    font-weight: bold;
    color: white;
}
#status-name.on {color: white;}
#status-name.off {color: #000;}
/* 헤더 끝 */


/* 푸터 시작 */
footer{
    width: 100%;
    height: 100px;
    background-color: #181A20;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
footer .footer-list{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
footer .footer-list a{
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #7C8694;
    width: 150px;
    height: 100px;
    line-height: 100px;
}
footer ul li{
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul li:hover{
    cursor: pointer;
}
footer ul li:hover a{
    cursor: pointer;
    color: white;
}
footer .more{
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
footer .more:hover{
    cursor: pointer;
}
footer .more span{
    font-size: 35px;
    margin-right: 10px;
}
footer .more:hover a, 
footer .more:hover span{
    color: white;
}
footer .more .icon{
    width: 30px;
    height: 30px;
}
footer .more a{
    font-size: 24px;
    font-weight: bold;
    color: #7C8694;
}
/* 푸터 끝 */


/* 사이드바 시작 */

.sidebar {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar .sidebar-title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    background-color: var(--main-color);
    color: white;
}

.sidebar .sidebar-title .logo-img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
}

.sidebar .sidebar-title a {
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.sidebar .sidebar-alarm {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
}

.sidebar .sidebar-alarm span {
    color: #FFC107;
    font-size: 20px;
    margin-right: 10px;
}

.sidebar .sidebar-alarm a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.sidebar .sidebar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 100px;
    padding: 15px;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.sidebar .sidebar-list.done * {
    filter: grayscale();
}
.sidebar .sidebar-list .done-btn {
    display: none;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    transition: background-color 0.2s ease;
}
.sidebar .sidebar-list.done .done-btn {
    display: block;
}
.sidebar .sidebar-list.done .complete-btn {
    display: none;
}
.sidebar .sidebar-list .order-list {
    display: flex;
    flex-direction: row;
}

.sidebar .sidebar-list .order-title {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.sidebar .sidebar-list .order-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    border-radius: 50%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    padding: 10px 10px;
}

.sidebar .sidebar-list .order-icon a {
    color: white;
    text-decoration: none;
}

.sidebar .sidebar-list .order-menu {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

.sidebar .sidebar-list .order-price > a {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 15px;
    color: #ff5050;
    font-weight: bold;
}

.sidebar .sidebar-list .complete-btn {
    width: 80px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: none;
    transition: background-color 0.2s ease;
}

.sidebar .sidebar-list .complete-btn:hover {
    cursor: pointer;
    background-color: #45a049;
}
/* 사이드바 끝 */



/* 더보기 왼쪽 사이드바 시작 */
.more-layout{
    display: grid;
    grid-template-columns: 300px auto;
}
.left-title{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
}
.list-container{
    height: 100%;
}
.list-container li,
.setting{
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.list-container li:hover{
    background-color: var(--main-color);
}
.list-container li:hover a{
    color: white;
}
.setting{
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.setting-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-item{
    font-size: 16px;
}

/* 더보기 왼쪽 사이드바 끝 */

/* 체크 박스 디자인 */
input[type="checkbox"] {
    appearance: none;
    position: relative;
    border: max(2px, 0.1em) solid gray;
    border-radius: 1.25em;
    width: 2.25em;
    height: 1.25em;
}

[type="checkbox"]::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: gray;
    transition: left 250ms linear;
}

[type="checkbox"]:checked::before {
    background-color: white;
    left: 1em;
}

[type="checkbox"]:checked {
    background-color: tomato;
    border-color: tomato;
}

[type="checkbox"]:disabled {
    border-color: lightgray;
    opacity: 0.7;
    cursor: not-allowed;
}

[type="checkbox"]:disabled:before {
    background-color: lightgray;
}

[type="checkbox"]:disabled+span {
    opacity: 0.7;
    cursor: not-allowed;
}

[type="checkbox"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) solid tomato;
}

[type="checkbox"]:enabled:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
}

/* 
    커스텀 셀렉트 박스
*/
.custom-select {
    position: relative;
}
.custom-select ul {
    top: -48px;
    width: auto;
    height: 40px;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.custom-select ul li {
    padding: 9px;
    height: 40px;
    min-width: 70px;
    border-radius: 7px;
    background-color: #aaa;
}
