:root {

    --main-color : #3b85ba; /* 메인 컬러 */
    --sub-color : #fff;
    --title-text-size : 30px;
    --menu-text-size : 40px;
    --normal-text-size : 14px;
    --large-text-size : 20px;
    --footer-font-color : #7C8694;
}
/* 글씨 색상 */
.white {color: #fff;}
.dark {color: #333;}
.black {color: #000;}
.darkgray {color : var(--footer-font-color);}

/* 레이아웃 */
body{
    display: grid;
    grid-template-columns: auto 400px;
}
.layout{
    height: 100vh;
    display: grid;
    grid-template-rows: 70px auto 100px;
}


/* 헤더 시작 */
header{
    width: 100%;
    min-height: 70px;
    background-color: #5A6270;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
header .logo{
    width: 200px;
    height: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}
header .logo .logo-img{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
header .logo a{
    color: white;
}
header .header-content{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
header .open-btn{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
header .open-btn .start{
    background-color: var(--main-color);
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin: 0 10px;
}
header .open-btn .start a{
    color: white;
    font-weight: bold;
}
header .open-btn .end{
    background-color: var(--main-color);
    width: 80px;
    height: 30px;
    border-radius: 5px;
}
header .open-btn .end a{
    color: white;
    font-weight: bold;
}
header .time a{
    color: white;
    font-weight: bold;
}
header .status{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
header .status .status-on{
    width: 10px;
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    color: #00A870;
    margin-right: 10px;
}
header .status .status-name{
    font-size: 12px;
    font-weight: bold;
    color: white;
}
/* 헤더 끝 */


/* 푸터 시작 */
footer{
    width: 100%;
    height: 100px;
    background-color: #181A20;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
footer .footer-list{
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
footer .footer-list a{
    font-size: 24px;
    font-weight: bold;
    color: #7C8694;
}
footer ul li{
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul li:hover{
    cursor: pointer;
}
footer ul li:hover a{
    cursor: pointer;
    color: white;
}
footer .more{
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
footer .more:hover{
    cursor: pointer;
}
footer .more span{
    font-size: 35px;
    margin-right: 10px;
}
footer .more:hover a, 
footer .more:hover span{
    color: white;
}
footer .more .icon{
    width: 30px;
    height: 30px;
}
footer .more a{
    font-size: 24px;
    font-weight: bold;
    color: #7C8694;
}
/* 푸터 끝 */


/* 사이드바 시작 */
.sidebar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid #ccc;
}
.sidebar .sidebar-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    border-bottom: 2px solid #ccc;
}
.sidebar .sidebar-title .logo-img{
    width: 60px;
    height: 60px;
    margin-right: 15px;
}
.sidebar .sidebar-title a{
    font-size: 20px;
    font-weight: bold;
}
.sidebar .sidebar-alarm{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
}
.sidebar .sidebar-alarm span{
    color: rgb(129, 129, 29);
    font-weight: bold;
    margin-right: 10px;
}
.sidebar .sidebar-alarm a{
    font-size: 16px;
}
.sidebar .sidebar-list{
    width: 100%;
    height: 100px;
    padding: 10px;
    border-bottom: 2px solid #ccc;
}
.sidebar .sidebar-list .order-list{
    display: flex;
}

.sidebar .sidebar-list .order-title{
    font-size: 20px;
    font-weight: bold;
}
.sidebar .sidebar-list .order-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: var(--main-color);
    border-radius: 100px;
    margin-top: 5px;
}
.sidebar .sidebar-list .order-icon a{
    font-size: 25px;
    color: white;
}
.sidebar .sidebar-list .order-menu{
    margin-top: 35px;
    font-size: 15px;
}
.sidebar .sidebar-list .order-price{
    margin-top: 5px;
}
.sidebar .sidebar-list .complete-btn{
    width: 60px;
    height: 35px;
    border-radius: 5px;
    background-color: var(--main-color);
    margin-left: 100px;
    margin-top: 40px;
}
.sidebar .sidebar-list .complete-btn:hover{
    cursor: pointer;
}
.sidebar .sidebar-list .complete-btn a{
    color: white;
    font-size: 14px;
    font-weight: bold;
}
/* 사이드바 끝 */

/* 더보기 왼쪽 사이드바 시작 */
.more-layout{
    display: grid;
    grid-template-columns: 300px auto;
}
.left-title{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
}
.list-container{
    height: 100%;
}
.list-container li,
.setting{
    padding: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.list-container li:hover{
    background-color: var(--main-color);
}
.list-container li:hover a{
    color: white;
}
.setting{
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.setting-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-item{
    font-size: 16px;
}

/* 더보기 왼쪽 사이드바 끝 */