.btn-box {
    margin-top: 15px;
    display: grid;
    grid-template-rows: 50px 50px;
    padding: 20px;
    gap: 25px;
}
#payment-button {
    height: 50px;
    font-size: 1.1em;
    border-radius: 10px;
    background-color: var(--main-color);
    color: #fff;
}