<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/qr/qr_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR오더</title>
</head>
<body>
    <div class="container" layout:fragment="content">
        <div class="allcenter">
        <div class="flex flex-column justify-content-center align-items-center">
        <!-- 완료 메시지 -->
        <div class="payComplete"><img src="/img/payComplete.png" alt="결제 완료" width="100"></div>
        <div class="compl-text">결제 완료!</div>
        <!-- 결제 영수증 출력 -->


        <!-- 확인 -->
        <a href="/qr/list" class="ok-button white"><span class="ok-button white flex flex-column justify-content-center align-items-center mt-0">OK</span></a>

        <!-- 결제 내역 -->
        <a href="/qr/order/list" class="pay white"><span class="color-white flex flex-column justify-content-center align-items-center mt-0">결제 내역</span></a>

        <!-- 결제 실패 -->


        <!-- 장바구니로 이동 -->


        <!-- 결제 취소 -->


        <!-- 장바구니로 이동 -->
        </div>
      </div>
    </div>
</body>
</html>
