<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/qr/qr_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR오더</title>
</head>
<body>
    <div class="container" layout:fragment="content">
        <div class="allcenter">
        <div class="flex flex-column justify-content-center align-items-center">

        <!-- 실패 메시지 -->
        <div class="payFail"><img src="/img/payFail.png" alt="결제 완료" width="110"></div>
        <div class="fail-text flex align-items-center justify-content-center">결제 실패</div>
        <div class="fail-text-list flex align-items-center justify-content-center">결제에 실패 하였습니다.<br>잠시후 다시 시도해 주세요.</div>

        <!-- 장바구니로 이동 -->
         <div class="ok-btn-border flex flex-column align-items-center justify-content-center">
             <a href="/qr/cart" class="go-cart white mb-5"><span class="ok-button-text white flex flex-column justify-content-center align-items-center mt-2">장바구니로 이동</span></a>
         </div>
        </div>
      </div>
    </div>
</body>
</html>
