<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/qr/qr_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR오더</title>
</head>
<body>
    <div class="container" layout:fragment="content">

        <!-- 결제 방식 선택 -->


        <!-- 내 카드 추가 -->


        <!-- 결제하기 -->


        <!-- 총 금액 -->


        <!-- 결제 -->


        <!-- 결제 취소 -->

        
    </div>
</body>
</html>
