<!-- 
	푸터 수정 사항
	지금 hover 폰트 색상 변경하는디
	매핑 다 되면 클릭 이벤트로 바꿔라이
-->
<th:blcok th:fragment="footer">
	<!-- [하단]	-->
	<footer>
		<ul class="footer-list">
			<li class="product"><a href="/pos/product">상품</a></li>
			<li class="category"><a href="/pos/category">카테고리</a></li>
			<li class="payment"><a href="/pos/payment">결제내역</a></li>
		</ul>
		<!-- 더보기 -->
		<div class="more" onclick="location='/pos/management'">
			<span class="darkgray material-symbols-outlined">menu</span>
			<a href="/pos/management">더보기</a>
		</div>
	</footer>
</th:blcok>