<!-- 
    스크립트
    1. 영업 시작, 영업 종료 탭 메뉴 스크립트
    2. 영업중, 영업종료 ( 아이콘 및 글자 변경 )
  -->
<th:blcok th:fragment="header">
    <!-- [상단]	영업시작/정지 -->
    <header>
        <!-- 로고 -->
        <div class="logo">
            <img src="/img/header/chanel.png" alt="" class="logo-img">
            <a href="#">CHANEL</a>
        </div>
        <div class="header-content">
            <div class="open-btn">
                <!-- 영업시작버튼 -->
                <button class="start">
                    <a href="#">영업시작</a>
                </button>
                <!-- 영업종료버튼 -->
                <button class="end">
                    <a href="#">영업종료</a>
                </button>
            </div>
            <!-- 시간 -->
            <div class="time">
                <a href="#">2024.12.04(수) 15:55</a>
            </div>
            <!-- 영업상태창 -->
            <div class="status">
                <p class="status-on">●</p>
                <p class="status-name">영업중</p>
            </div>
        </div>
    </header>
</th:blcok>