<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영업 상태 관리</title>
</head>
<body>
    <header>
        <!-- 로고 -->
        <div class="logo">
            <img src="/img/header/chanel.png" alt="CHANEL Logo" class="logo-img">
            <a href="#">CHANEL</a>
        </div>
        <div class="header-content">
            <div class="open-btn">
                <!-- 영업 시작 버튼 -->
                <button type="button" class="start" th:appendClass="${stsus == 'END'? 'active':''}" onclick="systemStatus('END')">영업 시작</button>
                <!-- 영업 종료 버튼 -->
                <button type="button" class="end" th:appendClass="${stsus == 'START'? 'active':''}" onclick="systemStatus('START')">영업 종료</button>
            </div>
            <!-- 시간 -->
            <div class="time">
                <a id="current-time" href="#"></a> <!-- 시간 표시 -->
            </div>
            <!-- 영업 상태 -->
            <div class="status">
                <p id="status-icon" class="status-off">●</p>
                <p id="status-name">영업 종료</p>
            </div>
        </div>
    </header>
    
    
</body>
</html>
