<!-- [상단]	영업시작/정지 -->
 <link rel="stylesheet" href="/freeorder/src/main/resources/static/css/pos/style.css">
<header>
    <!-- 로고 -->
    <div class="logo">
        <a href="#">FreeOrder</a>
    </div>
    <!-- 시간 -->
    <div class="time"></div>
    <!-- 영업상태창 -->
    <div class="status"></div>
    <!-- 영업시작버튼 -->
    <button class="start">
        <a href="#">영업시작</a>
    </button>
    <!-- 영업종료버튼 -->
    <button class="end">
        <a href="#">영업종료</a>
    </button>
    <!-- 닫기 -->
    <a href="#">X</a>
</header>