<!-- [좌측 사이드메뉴(상단)]	매출관리 -->
	<!-- 프로모션 -->
	<!-- 공지사항 -->
<!-- [좌측 사이드메뉴(하단)]	설정(아이콘) -->
<th:block th:fragment="leftmenu">
	 <div class="left-side">
		<div class="left-title">
			<ul class="list-container">
				<li onclick="location='/pos/management'"><a href="#" class="left-item">매출관리</a></li>
				<li onclick="location='/pos/notice'"><a href="#" class="left-item">공지사항</a></li>
				<li onclick="location='/pos/promotion'"><a href="#" class="left-item">프로모션</a></li>
			</ul>
		</div>
	 </div>
 </th:block>