<!-- [좌측 사이드메뉴(상단)]	매출관리 -->
	<!-- 프로모션 -->
	<!-- 공지사항 -->
<!-- [좌측 사이드메뉴(하단)]	설정(아이콘) -->
<th:block th:fragment="leftmenu">
	 <div class="left-side">
		<div class="left-title">
			<ul class="list-container">
				<li><a href="#" class="left-item">매출관리</a></li>
				<li><a href="#" class="left-item">공지사항</a></li>
				<li><a href="#" class="left-item">프로모션</a></li>
			</ul>
			<div class="setting">
				<div class="setting-left">
					<span class="material-symbols-outlined">settings</span>
					<a href="#" class="left-item setting-btn">설정</a>
				</div>
				<span class="material-symbols-outlined">chevron_right</span>
			</div>
		</div>
	 </div>
 </th:block>