<th:block th:fragment="link">
    <!-- 기본 세팅 CSS -->
    <link rel="stylesheet" href="/css/reset.css">

    <!-- POS 용 공통 CSS -->
    <link rel="stylesheet" href="/css/pos/style.css">
    <!-- 구글 심볼 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</th:block>