<!-- 리스트 터치 할 때 주문 전체 정보 슬라이드 -->
<!-- 주문 버튼 터치 할 때 완료로 변경 -->
<!-- [사이드바]	사이드 알림창 -->
<th:block th:fragment="sidebar">
    <div class="sidebar">
        <div class="sidebar-title">
            <img src="/img/header/chanel.png" alt="" class="logo-img">
            <a href="#">CHANEL</a>
        </div>
        <!-- [상단]	알림 아이콘 -->
        <div class="sidebar-alarm">
            <span class="material-symbols-outlined">notifications</span>
            <a href="#">새로운 주문이 있습니다.</a>
        </div>
        <!-- [중단]	주문 리스트 -->
        <div class="sidebar-list">
            <ul class="order-list">
                <div class="order-container">
                    <li class="order-title"><a href="#">테이블7</a></li>
                    <li class="order-icon"><a href="#">주</a></li>
                </div>
                <div class="order-container">
                    <li class="order-menu"><a href="#">닭볶음탕 외 1개 주문</a></li>
                    <li class="order-price"><a href="#">36,000원</a></li>
                </div>
                <!-- 주문 / 완료 버튼 -->
                <button class="complete-btn"><a href="#">주문</a></button>
            </ul>
        </div>
        <!-- [중단]	주문 리스트 -->
        <div class="sidebar-list">
            <ul class="order-list">
                <div class="order-container">
                    <li class="order-title"><a href="#">테이블7</a></li>
                    <li class="order-icon"><a href="#">주</a></li>
                </div>
                <div class="order-container">
                    <li class="order-menu"><a href="#">닭볶음탕 외 1개 주문</a></li>
                    <li class="order-price"><a href="#">36,000원</a></li>
                </div>
                <!-- 주문 / 완료 버튼 -->
                <button class="complete-btn"><a href="#">주문</a></button>
            </ul>
        </div>
        <!-- [중단]	주문 리스트 -->
        <div class="sidebar-list">
            <ul class="order-list">
                <div class="order-container">
                    <li class="order-title"><a href="#">테이블7</a></li>
                    <li class="order-icon"><a href="#">주</a></li>
                </div>
                <div class="order-container">
                    <li class="order-menu"><a href="#">닭볶음탕 외 1개 주문</a></li>
                    <li class="order-price"><a href="#">36,000원</a></li>
                </div>
                <!-- 주문 / 완료 버튼 -->
                <button class="complete-btn"><a href="#">주문</a></button>
            </ul>
        </div>
    </div>
</th:block>