<th:block th:fragment="sidebar">
    <div class="sidebar">
        <div class="sidebar-title">
            <img src="/img/header/chanel.png" alt="" class="logo-img">
            <a href="#">CHANEL</a>
        </div>
        <div class="sidebar-alarm">
            <span class="material-symbols-outlined">notifications</span>
            <a href="#">새로운 주문이 있습니다.</a>
        </div>
        <div class="sidebar-list">
            <ul class="order-list">
                <li class="order-title"><a href="#">테이블</a></li>
                <li class="order-icon"><a href="#">주</a></li>
                <li class="order-menu"><a href="#">닭볶음탕 외 1개 주문</a></li>
                <li class="order-price"><a href="#">36,000원</a></li>
                <button class="complete-btn"><a href="#">주문</a></button>
            </ul>
        </div>
    </div>
</th:block>
<!-- [사이드바]	사이드 알림창 -->
<!-- [상단]	알림 아이콘 -->
<!-- [중단]	주문 리스트 -->
<!-- 주문 / 완료 버튼 -->