/* 상품목록 products.html */
/* 전체 레이아웃 */
.container{
    position: relative;
    overflow-y: auto;
}
.products-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto 400px;
    height: 100%; /* 화면 전체 높이 */
    margin: 0 auto; /* 가운데 정렬 */
}

/* 상품 목록 페이지 시작 */
/* 상품 컨테이너 설정 */
.main-container {
    display: grid;
    grid-template-columns: 70% auto; /* 좌측 70%, 우측 30% 비율 */
    gap: 10px;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f4f4f4;
    height: 100%;
    max-height: 80vh;
}

/* 좌측 영역 */
.left-side {
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
}
.left-side::-webkit-scrollbar{
    display: none;
}

/* 카테고리 목록 */
/* 선택된 리스트 강조 추가 */
.cate-wrap {
    display: grid;
    grid-template-columns: auto 100px;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.tab-menu {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 50px;
}

.tab-menu li{
    width: 25%;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
}

.tab-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.cate-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-left,
.btn-right {
    width: 50px;
    height: 100%;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #f0f0f0;
}


/* 상품 목록 */
.product-page {
    display: flex;
    flex-direction: column;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.product-header h1 {
    font-size: 24px;
    font-weight: bold;
}

.add-product-btn {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.add-product-btn:hover {
    background-color: #45a049;
}

/* 상품 그리드 레이아웃 */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

/* 상품 아이템 */
.product-item {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.product-item:hover {
    transform: translateY(-5px);
}

.product-image-placeholder {
    width: 100%;
    height: 150px;
    background-color: #e0e0e0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #888;
}

.product-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.product-price {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.edit-btn {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.edit-btn:hover {
    text-decoration: underline;
}

/* 우측 영역 */
.right-side {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 우측 상단 버튼들 */
.right-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.settings-btn, .delete-all-btn {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.settings-btn:hover, .delete-all-btn:hover {
    background-color: #45a049;
}

.total-price {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}
/* 상품 목록 페이지 끝 */


/* 상품 등록 페이지 시작 */

.i-container {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #333333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
}

.form-group .plus-box{
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}
.form-group .plus-box a{
    font-size: 18px;
    color: #007bff;
}
.form-group .plus-box:hover{
    cursor: pointer;
    border-color: #007bff;
    outline: none;
}

.form-group input,
.form-group select{
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-group textarea{
    width: 100%;
    height: 60px;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus{
    border-color: #007bff;
    outline: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.button-group button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

.cancel-btn {
    background-color: #dc3545;
}

.cancel-btn:hover {
    background-color: #c82333;
}

.submit-btn {
    background-color: #28a745;
}

.submit-btn:hover {
    background-color: #218838;
}

.form-group .add-option-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: cornflowerblue;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

.add-option-btn:hover{
    background-color: rgb(78, 126, 214);
}

/* 상품 등록 페이지 끝 */


/* 상품 위치 변경 locate.html */
.l-container {
    width: 100%;
    height: 100%;
    max-height: 85vh;
    overflow: scroll;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.3);
}
.l-container::-webkit-scrollbar {
    display: none;
  }
.l-product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 100px auto;
    padding: 0 50px;
    border: 1px dashed coral;
}
.l-product-list .l-product-card {
    text-align: center;
    background-color: white;
    width: 100%;
    height: 300px;
    border: 1px dashed coral;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: move;
}
.l-product-card.dragging {
    opacity: 0.5;  /* 드래그 중인 항목은 반투명하게 */
}
.l-product-list .product-image-placeholder img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.l-product-list .product-name,
.l-product-list .product-price {
    font-size: 14px;
    margin-top: 10px;
}
.l-btn-container {
    display: flex;
    border: 1px dashed coral;
    float: right;
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
}
.l-btn-container .l-cancel-btn {
    width: 100px;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
}
.l-btn-container .l-save-btn {
    width: 100px;
    padding: 10px;
    font-size: 20px;
    background-color: cornflowerblue;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}
.l-select-title {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 30px;
}
/* 상품 세팅 setting.html */
.s-container {
    display: flex;
    flex-direction: column;
    border: 1px dashed coral;
    width: 1500px;
    height: 1000px;
    align-items: center;
}
.s-sub-title{
    margin-top: 100px;
    font-weight: bold;
    text-align: left;
}

 a {
    text-decoration: none; 
    color: inherit;       
}
.s-setting-title{
    width: 1500px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.s-product-setting{
    display: grid;
    grid-template-columns: repeat(2, 320px);
    border: 1px solid rgba(128, 128, 128, 0.3);
    padding: 10px;
    justify-content: center;
    height: 200px;

}
.s-product-setting .s-product-card{
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    text-align: left;
    gap: 10px;
    padding: 10px;
    background-color: white;
    width: 300px;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    margin-top: 20px;
}
.s-category-setting{
    display: grid;
    grid-template-columns: repeat(2, 320px);
    border: 1px solid rgba(128, 128, 128, 0.3);
    padding: 10px;
    gap: 30px;
    justify-content: center;
    /* margin-top: 80px; */
}
.s-category-setting .s-category-card{
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    text-align: left;
    gap: 10px;
    padding: 10px;
    background-color: white;
    width: 300px;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 10px;
}
.s-setting-title .material-symbols-outlined {
    font-size: 36px; 
    margin-top: 15px; 
}

/* 모달 창 기본 스타일 */
#modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}

/* 모달 콘텐츠 */
.modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background: white;
    width: 80%;
    height: 70%;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* 닫기 버튼 */
.close-btn {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

/* 상품 수정 목록 update_list.html */
.ul-container{
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.3);
}
.ul-container-son{
    height: 100%;
    max-height: 76vh;
    overflow: scroll;
}
.ul-container-son::-webkit-scrollbar{
    display: none;
}
.ul-product-list {
    display: flex;
    gap: 80px;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: space-around;
    margin-top: 100px;
    flex-wrap: wrap; /* 여러 줄로 나누어지도록 설정 */
}

.ul-product-list .ul-product-card {
    text-align: center;
    background-color: white;
    width: 220px; /* 카드 너비를 조금 더 넓게 설정 */
    height: 300px; /* 고정 높이로 설정 */
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    padding: 10px; /* 내부 여백 추가 */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* 카드 내부 요소들 간의 간격 조정 */
}

.ul-product-list .product-image-placeholder img {
    width: 100%;
    height: 150px; /* 이미지 높이를 고정 */
    object-fit: cover; /* 이미지 비율을 유지하면서 잘라내기 */
}

.ul-product-list .product-name,
.ul-product-list .product-price {
    font-size: 14px;
    margin-top: 10px;
}
.ul-cancel-container{
    display: flex;
    float: right;
    margin-top: 10px;
    padding: 10px;
}
.ul-cancel-container .ul-cancel-btn{
    width: 100px;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    border: none;
    font-weight: bold;
    border-radius: 10px;
}
.ul-list-title{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: 30px;
}

/* 상품 수정 화면 update.html */
.u-container {
    border: 1px dashed coral;
    width: 1500px;
    height: 1000px;
    display: flex;
    flex-direction: column; /* 세로로 쌓이도록 설정 */
    align-items: center;
}
.u-update-form{
    width: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.u-update-title{
    width: 1500px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
}
.u-update-title .material-symbols-outlined{
    padding-top: 20px;
    font-size: 30px;
}
.u-input-name{
    gap: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.u-input-price{
    gap: 10px;
    display: flex;
    flex-direction: column; 
    padding: 10px;
}
.u-input-category{
    gap: 10px;
    display: flex;
    flex-direction: column; 
    padding: 10px;
}
.u-input-description{
    gap: 10px;
    display: flex;
    flex-direction: column; 
    padding: 10px;
}
.u-input-img{
    gap: 10px;
    display: flex;
    flex-direction: column; 
    padding: 10px;
}
.u-input-img input[type="file"] {
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
    cursor: pointer;
    width: 100%; 
    margin-top: 5px;
}
.u-input-option{
    padding: 10px;
}
.u-option-btn{
    font-size: 25px;
    width: 100%;
    border-radius: 10px;
    border: 1px dashed cornflowerblue;
    background-color: white;
}
.u-input-name input,
.u-input-price input,
.u-input-category select,
.u-input-description input,
.u-input-img input {
    height: 40px;  
    padding: 5px;  
    box-sizing: border-box; 
    border-radius: 10px;
     
}
.u-btns{
    display: flex;
    padding-top: 50px;
    gap: 20px;
}
.u-delete-btn{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    color: red;
}
.u-save-btn{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: cornflowerblue;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

/* 옵션 선택 리스트 시작 */
#optionList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.opt-list {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 50px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    gap: 10px;
    background-color: #ffffff;
    transition: all 0.3s ease;
}

.opt-list:hover {
    background-color: #f0f8ff;
    border-color: #b0c4de;
}

.opt-list.active {
    background-color: #4a90e2;
    border-color: #4a90e2;
    color: white;
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.opt-list .opt-title {
    padding: 5px;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #ddd;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.opt-list.active .opt-title {
    color: #333333;
    background-color: #ffffff;
    font-weight: bold;
}

.opt-list .text-icon {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #ddd;
    border-radius: 5px;
    text-decoration: none;
    font-style: normal;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.opt-list.active .text-icon {
    color: #333333;
    background-color: #ffffff;
    font-weight: bold;
    transform: scale(1.1);
}

/* 옵션 선택창 끝 */

/* 옵션 선택창 시작 */
.so-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    height: auto;
    align-items: center;
    padding: 20px;
    background-color: #f4f6f8;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.so-option-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.so-option-title .material-symbols-outlined {
    font-size: 36px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.so-option-title .material-symbols-outlined:hover {
    transform: rotate(90deg);
    color: #d9534f;
}

.so-option-select {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.so-option-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin-bottom: 10px;
}

.so-option-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.so-option-card input[type="checkbox"] {
    margin-right: 15px;
    width: 20px;
    height: 20px;
    accent-color: #007bff;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.so-option-card input[type="checkbox"]:hover {
    transform: scale(1.2);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.so-option-card span {
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-align: left;
}

.read-option-price {
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    background: rgba(0, 123, 255, 0.1);
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: right;
}

.read-option-price:hover {
    background: rgba(0, 123, 255, 0.2);
    color: #0056b3;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.option-checkbox{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

#modal-option-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal-option-list li:first-child{
    margin-top: 20%;
}

#modal-option-list li{
    width: auto;
    display: flex;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
}

.so-sub-title {
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
    font-size: 18px;
    color: #444;
}

.option-btns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    padding: 10px;
}

.select-btn {
    width: 100%;
    height: 50px;
    background: linear-gradient(90deg, #007bff, #0056b3);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.select-btn:hover {
    background: linear-gradient(90deg, #0056b3, #003c7d);
    transform: translateY(-3px);
}

/* 모달 스타일 */
#option-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#option-modal-body {
    width: 300px;
}


/* 모달 창 시작 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal.show {
    display: block; /* ModalOpen 상태에서 표시 */
}

.modal-container {
    background: #fff;
    margin: 5% auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
    position: relative;
}

.close-btn {
    font-size: 30px;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #333;
}

.modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.modal-header h5 {
    margin: 0;
    font-size: 22px;
    color: #333;
    font-weight: bold;
    position: relative;
    flex-grow: 1;
    text-align: center;
}

.section-title {
    font-size: 18px;
    color: #0078ff;
    font-weight: bold;
    margin: 20px 0 10px;
    border-bottom: 2px solid #0078ff;
    display: inline-block;
    padding-bottom: 5px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 48%;
    text-align: center;
    margin-bottom: 15px;
    padding: 15px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 30px;
    margin-bottom: 10px;
}

.card h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #eef7ff;
}

/* 애니메이션 */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
/* 모달 창 끝 */


/* 상품 장바구니 시작 */
/* 장바구니 리스트 스타일 */
#cart-list {
    overflow-y: auto;
    height: 500px;
}
#cart-list>li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: 100px;
}

.cart-top{
    display: grid;
    grid-template-columns: 10% 35% 30% 25%;
}

#cart-list>li>ul {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}
#cart-list>li>ul>li{
    margin-right: 5px;
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cart-item-del-btn {
    background-color: #ff6868;
    border: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    transition: background-color 0.2s ease;
}

.cart-item-del-btn:hover {
    background-color: #ff7875;
}

.cart-menu {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    flex: 1;
    margin: 0 10px;
    display: flex;
    margin-top: 3%;
}

.btn-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-box button {
    background-color: #1890ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.btn-box button:hover {
    background-color: #40a9ff;
}

.cart-quantity {
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.quantity-plus{
    padding-top: 2%;
}

.amount {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin-left: 10px;
    display: flex;
    margin-top: 4%;
}

.option-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    border-top: 1px solid #e6e6e6;
    padding-top: 10px;
}

.option-list li {
    font-size: 14px;
    color: #666666;
    display: flex;
    gap: 5px;
    align-items: center;
}

.cart-option-price {
    font-weight: bold;
    color: #ff4d4f;
    font-style: normal;
}

/* 카드 및 현금 결제 버튼 스타일 */
.card-pay, .cash-pay {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 45%; /* 가로 버튼 비율 */
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.card-pay {
    background-color: #13249D; /* 녹색 */
}

.card-pay:hover {
    transform: translateY(-2px);
}

.cash-pay {
    background-color: #0E1D40; /* 주황색 */
}

.cash-pay:hover {
    transform: translateY(-2px);
}

.payment-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.material-symbols-outlined {
    font-size: 20px;
}

#total-price {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid #eeeeee;
}
#total-price span {
    color: #ff4d4f;
    font-size: 20px;
}
/* 상품 장바구니 끝 */