.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-wrap{
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}
.logo {
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaa;
    border-radius: 50%;
}
.form-floating {
    width: 100%;
    display: grid;
    grid-template-columns: 110px auto;
    height: 50px;
}
.form-floating label {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 15px;
    background-color: #aaa;
}
.form-floating input {
    padding: 0 15px;
}
form {
    width: 100%;
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
    width: 100%;
    height: 50px;
    background-color: #447cfdaa;
}