<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/qr/qr_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR오더</title>
</head>
<body>
    <div class="container" layout:fragment="content">
        <!-- [상단]	뒤로가기 -->
        <!-- [상단]	카테고리 -->
        <!-- [중단]주문내역 리스트	 -->
            <!-- 상품 이미지 -->
	        <!-- 상품명 -->
	        <!-- 가격 -->
	        <!-- 수량 -->
        <!-- [하단]총 금액 -->
    </div>
</body>
</html>
