<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/pos/more_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pos/notice.css">
    <title>NOTICE</title>
</head>

<body>
    <div class="container" layout:fragment="content">
        <form class="notice" id="notice-insert" onsubmit="return false;">
            <h1>공지사항</h1>
            <div class="notice-title">
                <input type="hidden" name="type" value="notice">
                <a href="#">제목</a>
                <input type="text" id="notice-title" name="title" th:value="${notice != null?notice.title:''}"
                    placeholder="제목을 입력하세요">
            </div>
            <th:blcok th:if="${notice != null}">
                <div class="notice-radio">
                    <div class="radio-wrap">
                        <input type="checkbox" role="switch" name="enabled" id="enabled" th:checked="${notice.enabled}">
                        <label for="enabled">활성화</label>
                    </div>
                </div>
            </th:blcok>
            <div class="notice-content">
                <a href="#">내용</a>
                <textarea name="content" id="notice-content" th:text="${notice != null?notice.content:''}"
                    placeholder="내용을 입력하세요"></textarea>
            </div>
            <button type="button" class="insert-btn" onclick="noticeInsert()">저장</button>
        </form>
    </div>
</body>

</html>