<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <div class="container">
        <!-- 로그인 페이지 -->
        <!-- [상단] 로고 -->
        <!-- [중단] 로그인 폼 -->
        <!-- 아이디 글씨 -->
        <!-- 이이디 input 박스 -->
        <!-- 패스워드 글씨 -->
        <!-- 패스워드 input 박스 -->
        <!-- 로그인 버튼 -->
    </div>
</body>
</html>
