<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/pos/pos_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pos/category.css">
    <title>POS</title>
</head>

<body>
    <div class="container" layout:fragment="content">
        <!-- [카테고리 목록]	카테고리 선택 수정 -->
        <div class="category-page">
            <div class="category-header">
                <h1>카테고리</h1>
                <!-- 카테고리 추가 -->
                <a class="add-category-btn" href="/pos/category/insert">+ 추가</a>
            </div>
            <div class="category-list">
                <th:block th:if="${ cateList != null }" th:each="cate : ${cateList}">
                    <div class="category-item" draggable="true">
                        <span class="category-name" th:text="${cate.name}"></span>
                        <a class="edit-btn" th:href="|/pos/category/update/${cate.id}|">수정</a>
                    </div>
                </th:block>
                <th:block th:if="${ cateList.isEmpty()}">
                    카테고리가 없습니다.
                </th:block>
            </div>
        </div>
    </div>
    <!-- 카테고리 순서 변경 -->
</body>

</html>