<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/pos/pos_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pos/category.css">
    <title>POS</title>
</head>
<body>
    <div class="seq-container" layout:fragment="content">
        <!-- [상단] 취소 버튼 -->
         <div class="seq-btn-container">
             <a href="/pos/product">
                 <button type="button" class="seq-cancel-btn">취소</button>
             </a>
                <button type="button" class="seq-save-btn">저장</button>
         </div>
 
         <!-- [헤더] 상품 선택 안내 -->
         <div class="seq-select-title">
             <h3>카테고리를 끌어서 순서를 변경하세요.</h3>
         </div>
 
         <!-- [중단] 상품 목록 -->
         <div class="seq-category-list">
            <th:block th:if="${ cateList != null }" th:each="cate : ${cateList}">
                <div class="seq-category-item" draggable="true">
                    <span class="seq-category-name" th:text="${cate.name}"></span>
                </div>
            </th:block>
            <th:block th:if="${ cateList.isEmpty()}">
                카테고리가 없습니다.
            </th:block>
        </div>
    </div>
</body>
</html>
