<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/pos/more_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pos/promotion.css">
    <title>PROMOTION</title>
</head>
<body>
    <div class="container" layout:fragment="content">
        <div class="promotion-page">
            <h1>프로모션</h1>
            <a href="/pos/promotion/insert" class="insert-btn">프로모션 등록</a>
        </div>
        <table class="promotion-list">
            <!-- 프로모션이 있을 때 -->
            <th:block th:if="${proList != null and !proList.isEmpty()}">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>프로모션명</th>
                        <th>썸네일</th>
                        <th>등록일자</th>
                        <th>수정일자</th>
                        <th>관리</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="pro, stat : ${proList}">
                        <tr>
                            <td th:text="${stat.index + 1}">1</td>
                            <td th:text="${pro.title}">프로모션 이름</td>
                            <td>
                                <img th:src="|/timg?id=${pro.id}|" alt="" width="100px">
                            </td>
                            <td th:text="${pro.createdAt}">2024-12-06</td>
                            <td th:text="${pro.updatedAt}">2024-12-06</td>
                            <td>
                                <a class="update-btn" th:href="@{/pos/promotion/update/{id}(id=${pro.id})}">수정</a>
                                <button type="submit" class="delete-btn" th:onclick="noticeDelete([[${pro.id}]])">삭제</button>
                            </td>
                        </tr>
                    </th:block>
                </tbody>
            </th:block>
        
            <!-- 프로모션이 없을 때 -->
            <th:block th:if="${proList == null or proList.isEmpty()}">
                <tbody>
                    <tr>
                        <td colspan="6" style="text-align: center;">등록된 프로모션이 없습니다.</td>
                    </tr>
                </tbody>
            </th:block>
        </table>
    </div>      
</div>
</body>
</html>
