<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.freeorder.mapper.CartMapper">

    <resultMap type="Cart" id="cartMap">
        <id property="id" column="id" />
        
        <result property="id" column="id" />
        <result property="productsId" column="products_id" />
        <result property="usersId" column="users_id" />
        <result property="optionsId" column="options_id" />
        <result property="productName" column="product_name" />
        <result property="amount" column="amount" />
        <result property="price" column="price" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
        
        <collection property="optionList" resultMap="optionMap"></collection>
    </resultMap>
        
    <resultMap type="CartOption" id="optionMap">
        <result property="id" column="cart_options_id" />
        <result property="cartsId" column="carts_id" />
        <result property="optionItemsId" column="option_items_id" />
        <result property="name" column="option_name" />
        <result property="price" column="option_price" />
    </resultMap>

    <!-- 조회 - id -->
    <select id="select" resultType="Cart">
        SELECT *
        FROM carts
        WHERE id = #{id}
    </select>

    <!-- 조회 유저아이디 상품아이디 -->
    <select id="ListByUsersIdAndProductsId" resultMap="cartMap">
        SELECT c.*
              ,co.id as cart_options_id
              ,p.name as product_name
              ,oi.price as option_price
              ,oi.name as option_name
        FROM carts c
        LEFT JOIN products p
            ON c.products_id = p.id 
        LEFT OUTER JOIN cart_options co
            ON c.id = co.carts_id 
        LEFT JOIN option_items oi
            ON co.option_items_id = oi.id
        WHERE c.users_id = #{usersId}
          AND p.id = #{productId}
        ORDER BY c.created_at desc, oi.seq asc
    </select>

    <!-- 목록 조회 -->
    <select id="list" resultType="Cart">
        SELECT *
        FROM carts
        WHERE users_id = #{id}
        ORDER BY created_at desc
    </select>

    <!-- 목록 조회 -->
    <select id="listByUser" resultMap="cartMap">
        SELECT c.*
              ,co.id as cart_options_id
              ,p.name as product_name
              ,oi.price as option_price
              ,oi.name as option_name
        FROM carts c
        LEFT JOIN products p
            ON c.products_id = p.id 
        LEFT OUTER JOIN cart_options co
            ON c.id = co.carts_id 
        LEFT JOIN option_items oi
            ON co.option_items_id = oi.id
        WHERE c.users_id = #{usersId}
        ORDER BY c.created_at desc, oi.seq asc
    </select>

    <!-- 등록 -->
    <insert id="insert">
        INSERT INTO carts ( id, products_id, options_id, users_id, amount, price )
        VALUES ( #{id}, #{productsId}, #{optionsId}, #{usersId}, #{amount}, #{price} )
    </insert>

    <!-- 옵션등록 -->
    <insert id="insertOption">
        INSERT INTO CART_OPTIONS ( id, carts_id, option_items_id )
        VALUES ( #{id}, #{cartsId}, #{optionItemsId} )
    </insert>

    <!-- 수정 -->
    <update id="update">
        UPDATE carts
           SET products_id = ${productsId}
              ,amount = ${amount}
              ,price = ${price}
              ,updated_at = now()
        WHERE id = #{id}
    </update>

    <!-- 수량 증가 -->
    <update id="updateAmount">
        UPDATE carts
           SET amount = ${amount}
              ,updated_at = now()
        WHERE id = #{id}
    </update>

    <!-- 삭제 -->
    <delete id="delete">
        DELETE FROM carts
        WHERE id = #{id}
    </delete>
    <!-- 장바구니 옵션 삭제 -->
    <delete id="deleteOption">
        DELETE FROM cart_options
        WHERE carts_id = #{id}
    </delete>

    <!-- 결제시 해당 장바구니 전체 삭제 -->
    <delete id="allDeleteByUserId">
        DELETE FROM carts
        WHERE users_id = #{usersId}
    </delete>

    <!-- 결제시 해당 장바구니 옵션 전체 삭제 -->
    <delete id="allDeleteOptionByUserId">
        DELETE FROM cart_options
        WHERE users_id = #{usersId}
    </delete>

</mapper>