<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.freeorder.mapper.CategoryMapper">

<select id="list" resultType="Category">
    SELECT *
    FROM categories
    ORDER BY seq asc
</select>

<select id="read" resultType="Category">
    SELECT *
    FROM categories
    WHERE id = #{id}
</select>

<insert id="insert">
    INSERT INTO categories ( id, NAME, SEQ)
    VALUES ( #{id}, #{name}, #{seq} )
</insert>

<update id="update">
    UPDATE categories
        SET NAME = #{name}
            ,UPDATED_AT = now()
    WHERE id = #{id}
</update>

<delete id="delete">
    DELETE FROM categories
    WHERE id = #{id}
</delete>

<update id="updateCategoryOrder" parameterType="map">
    UPDATE categories
    SET seq = #{seq}
    WHERE id = #{id}
</update>
</mapper>
