<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.freeorder.mapper.CategoryMapper">

<select id="list" resultType="Category">
    SELECT *
    FROM category
</select>

<select id="read" resultType="Category">
    SELECT *
    FROM category
    WHERE ID = #{id}
</select>

<insert id="insert">
    INSERT INTO category( ID, CODE, NAME, SEQ)
    VALUES ( #{id}, #{code}, #{name}, #{seq} )
</insert>

<update id="update">
    UPDATE category
        SET CODE = #{code}
            ,NAME = #{name}
            ,UPDATED_AT = now()
    WHERE ID = #{id}
</update>

<delete id="delete">
    DELETE FROM category
    WHERE ID = #{id}
</delete>

