<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.aloha.freeorder.mapper.FileMapper">
    <!-- 파일 목록 -->
    <select id="list" resultType="Files">
        SELECT *
        FROM files
        WHERE parent_id = #{id}
          AND parent_table = #{table}
        ORDER BY created_at DESC
    </select>

    <!-- 파일 조회 -->
    <select id="select" resultType="Files">
        SELECT *
        FROM files
        WHERE id = #{id}
    </select>

    <!-- 파일 등록 -->
    <insert id="insert">
        INSERT INTO files( parent_id,  parent_table, name, origin_name ,path, size, is_main, seq )
        VALUES ( #{parentId}, #{parentTable}, #{name}, #{originName} #{path}, #{size}, #{isMain}, #{seq} )
    </insert>

    <!-- 파일 삭제 -->
    <delete id="delete">
        DELETE FROM files
        WHERE id = #{id}
    </delete>

    <!-- 전체 삭제 -->
    <delete id="allDelete">
        DELETE FROM files
        WHERE parent_id = #{id}
          AND parent_table = #{table}
    </delete>

</mapper>