<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.freeorder.mapper.NoticeMapper">

<select id="list" resultType="Notice">
    SELECT *
    FROM notices
    WHERE type = 'promotion'
</select>

<select id="read" resultType="Notice">
    SELECT *
    FROM notices
    WHERE type = 'notice'
    LIMIT 1
</select>

<select id="select" resultType="Notice">
    SELECT *
    FROM notices
    WHERE id = #{id}
</select>

<insert id="insert">
    INSERT INTO notices ( id, ENABLED, thumbnail, TYPE, TITLE, CONTENT )
    VALUES ( #{id}, #{enabled}, #{thumbnail}, #{type}, #{title}, #{content} )
</insert>

<update id="update">
    UPDATE notices
        SET thumbnail = #{thumbnail}
            ,ENABLED = #{enabled}
            ,TITLE = #{title}
            ,CONTENT = #{content}
            ,UPDATED_AT = now()
    WHERE ID = #{id}
</update>

<delete id="delete">
    DELETE FROM notices
    WHERE ID = #{id}
</delete>

</mapper>