<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.freeorder.mapper.OptionMapper">


<resultMap type="Option" id="optionMap">
    <id property="id" column="id" />
    
    <result property="id" column="id" />
    <result property="name" column="name" />
    <result property="stockCheck" column="stock_check" />
    <result property="stock" column="stock" />
    <result property="essential" column="essential" />
    <result property="selectMin" column="select_min" />
    <result property="selectMax" column="select_max" />
    <result property="createdAt" column="created_at" />
    <result property="updatedAt" column="updated_at" />
    
    <collection property="itemList" resultMap="itemMap"></collection>
</resultMap>
    
<resultMap type="OptionItem" id="itemMap">
    <result property="id" column="option_items_id" />
    <result property="optionsId" column="options_id" />
    <result property="name" column="option_items_name" />
    <result property="price" column="price" />
    <result property="seq" column="seq" />
</resultMap>

<select id="list" resultType="option">
    SELECT *
    FROM options
    ORDER BY created_at desc
</select>

<select id="findItemsByOptionId" parameterType="String" resultMap="itemMap"> 
    SELECT o.id as option_items_id
          ,o.options_id
          ,o.name as option_items_name
          ,o.price
          ,o.seq
    FROM option_items o
    WHERE o.options_id = #{optionId} 
</select>

<select id="getOptionsByProductId" resultMap="optionMap">
        SELECT o.id,
            o.name,
            o.stock_check,
            o.stock,
            o.essential,
            o.select_min,
            o.select_max,
            oi.id as option_items_id,
            oi.name as option_items_name,
            oi.price,
            oi.seq as option_items_seq
        FROM products p
        LEFT JOIN options o on p.options_id = o.id
        LEFT JOIN option_items oi on o.id = oi.options_id
        WHERE p.id = #{productId}
        ORDER by oi.seq asc
    </select>

<select id="read" resultMap="optionMap">
    SELECT o.*,
           oi.id as option_items_id,
           oi.name as option_items_name,
           oi.price,
           oi.seq
    FROM options o LEFT OUTER JOIN option_items oi ON o.id = oi.options_id
    WHERE o.id = #{id}
    ORDER BY seq ASC
</select>

<select id="readItem" resultMap="itemMap">
    SELECT 
            oi.id AS option_items_id,
            oi.options_id
            oi.NAME AS option_items_name,
            oi.PRICE,
            oi.SEQ AS option_items_seq
    FROM option_items oi
    WHERE id = #{id}
</select>

<insert id="insert">
    insert into options( id, name, stock_check, stock, essential, select_min, select_max )
    values ( #{id}, #{name}, #{stockCheck}, #{stock}, #{essential}, #{selectMin},#{selectMax} )
</insert>
<insert id="insertItem">
    insert into option_items( id, options_id, name, price, seq )
    values ( #{id}, #{optionsId}, #{name}, #{price}, #{seq} )
</insert>

<update id="update">
    UPDATE options
        SET name = #{name}
            ,stock_check = #{stockCheck}
            ,stock = #{stock}
            ,essential = #{essential}
            ,select_min = #{selectMin}
            ,select_max = #{selectMax}
            ,updated_at = now()
    WHERE id = #{id}
</update>

<delete id="delete">
    DELETE FROM options
    WHERE id = #{id}
</delete>

<delete id="deleteItem">
    DELETE FROM option_items
    WHERE options_id = #{optionsId}
</delete>

</mapper>