<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.freeorder.mapper.OptionMapper">


<resultMap type="Option" id="optionMap">
    <id property="id" column="id" />
    
    <result property="id" column="id" />
    <result property="name" column="name" />
    <result property="stockCheck" column="stock_check" />
    <result property="stock" column="stock" />
    <result property="essential" column="essential" />
    <result property="selectMin" column="select_min" />
    <result property="selectMax" column="select_max" />
    <result property="createdAt" column="created_at" />
    <result property="updatedAt" column="updated_at" />
    
    <collection property="itemList" resultMap="itemMap"></collection>
</resultMap>
    
<resultMap type="OptionItem" id="itemMap">
    <result property="id" column="option_items_id" />
    <result property="name" column="option_items_name" />
    <result property="quantity" column="quantity" />
    <result property="price" column="price" />
    <result property="seq" column="seq" />
</resultMap>

<select id="list" resultType="Option">
    SELECT *
    FROM options
    ORDER BY created_at desc
</select>

<select id="read" resultMap="optionMap">
    SELECT o.*,
           oi.id as option_items_id,
           oi.name as option_items_name,
           oi.price,
           oi.seq
    FROM options o LEFT OUTER JOIN option_items oi ON o.id = oi.options_id
    WHERE o.id = #{id}
    ORDER BY seq ASC
</select>

<insert id="insert">
    INSERT INTO options( NAME, STOCK_CHECK, STOCK, ESSENTIAL, SELECT_MIN, SELECT_MAX )
    VALUES ( #{name}, #{stockCheck}, #{stock}, #{essential}, #{selectMin},#{selectMax} )
</insert>

<update id="update">
    UPDATE options
        SET NAME = #{name}
            ,STOCK_CHECK = #{stockCheck}
            ,STOCK = #{stock}
            ,ESSENTIAL = #{essential}
            ,SELECT_MIN = #{selectMin}
            ,SELECT_MAX = #{selectMax}
            ,UPDATED_AT = now()
    WHERE ID = #{id}
</update>

<delete id="delete">
    DELETE FROM options
    WHERE ID = #{id}
</delete>

</mapper>