<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.freeorder.mapper.OrderMapper">
    
    <!-- 주문 목록 -->
    <select id="list" resultType="Order">
        SELECT *
        FROM orders
    </select>
    <!-- 주문 조회 -->
    <select id="read" resultType="Order">
        SELECT *
        FROM orders
        WHERE id = #{id}
    </select>

    <!-- 주문 등록 -->
    <insert id="insert">
        INSERT INTO orders ( USER_ID, TITLE )
        VALUES ( #{userId}, #{title} )
    </insert>

    <!-- 주문 수정 -->
    <update id="update">
        UPDATE orders
           SET USER_ID = #{userId}
              ,TITLE = #{title}
              ,STATUS = #{status}
              ,UPDATED_AT = now()
        WHERE ID = #{id}
    </update>

    <!-- 주문 삭제 -->
    <insert id="delete">
        DELETE FROM orders
        WHERE id = #{id}
    </insert>
</mapper>