<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.freeorder.mapper.OrderMapper">
    
    <!-- 주문 목록 -->
    <select id="list" resultType="Order">
        SELECT *
        FROM orders
    </select>
    <!-- 주문 조회 -->
    <select id="read" resultType="Order">
        SELECT *
        FROM orders
        WHERE id = #{id}
    </select>

    <!-- 주문 등록 -->
    <insert id="insert">
        INSERT INTO orders ( ID, USER_ID, TITLE )
        VALUES ( #{id}, #{userId}, #{title} )
    </insert>

    <!-- 주문 수정 -->
    <update id="update">
        UPDATE orders
           SET USER_ID = #{userId}
              ,TITLE = #{title}
              ,STATUS = #{status}
              ,UPDATED_AT = now()
        WHERE ID = #{id}
    </update>

    <!-- 주문 삭제 -->
    <insert id="delete">
        DELETE FROM orders
        WHERE id = #{id}
    </insert>

    <!-- 해당 달의 판매 총액 불러오기 -->
    <select id="totalMonth">
        SELECT 
            SUM(TOTAL_PRICE) AS TOTAL_SALES
        FROM 
            ORDERS
        WHERE 
            STATUS = '#{status}'
            AND YEAR(ORDERED_AT) = YEAR(#{day})
            AND MONTH(ORDERED_AT) = MONTH(#{day})
    </select>

    <!-- 해당 날짜의 총액 불러오기 [판매/환불]-->
    <select id="totalDay">
        SELECT 
            AVG(SUM(o.TOTAL_PRICE),COUNT(o.ID)) AS AVG_SALES,
            SUM(o.TOTAL_PRICE) AS TOTAL_SALES,
            COUNT(o.ID) as total_count
        FROM 
            ORDERS o LEFT JOIN payments pm
        WHERE 
            o.STATUS = '#{status}'
            AND YEAR(o.ORDERED_AT) = YEAR(#{day})
            AND MONTH(o.ORDERED_AT) = MONTH(#{day})
            AND DAY(o.ORDERED_AT) = DAY(#{day})
        GROUP BY 
            pm.payment_method
    </select>

</mapper>