<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.freeorder.mapper.ProductMapper">

    <!-- 상품 조회 - id -->
    <select id="select" resultMap="productMap">
        SELECT *
        FROM products
        WHERE id = #{id}
    </select>

    <!-- 상품 조회 - id -->
    <select id="allList" resultMap="productMap">
        SELECT *
        FROM products
        ORDER BY seq asc
    </select>

    <!-- 상품 조회 - id -->
    <select id="listByCate" resultMap="productMap">
        SELECT *
        FROM products
        WHERE category_id = #{categoryId}
    </select>

    <!-- 상품 등록 -->
    <insert id="insert">
        INSERT INTO products ( name, category_id, price, stock_check, seq)
        VALUES ( #{name}, #{categoryId}, #{price}, #{stockCheck}, #{seq} )
    </insert>

    <!-- 상품 정보 수정 -->
    <update id="update">
        UPDATE products
           SET name = #{name}
              ,category_id = #{categoryId}
              ,description = #{description}
              ,content = #{content}
              ,price = #{price}
              ,stock_check = #{stockCheck}
              ,stock = #{stock}
              ,seq = #{seq}
              ,updated_at = now()
        WHERE id = #{id}
    </update>

    <!-- 상품 삭제 -->
    <delete id="delete">
        DELETE FROM products
        WHERE id = #{id}
    </delete>
</mapper>