<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/qr/qr_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR오더</title>
</head>
<body layout:fragment="content">
    <div class="main-container">
        <div class="allcenter">
            <div class="flex flex-column justify-content-center align-items-center">
                <div class="qr-order mb-5">QR order</div>
                
                <!-- 매장 식사 -->
                <a href="/qr/list?type=hall" class="rectangle flex flex-column justify-content-center align-items-center gap-2">
                    <img src="/img/qrHall.png" alt="qr매장" width="100px">
                    <span class="square-button fw-1 white">매장식사</span>
                </a>
        
                <!-- 포장 -->
                <a href="/qr/list?type=takeout" class="rectangle flex flex-column justify-content-center align-items-center gap-2">
                    <img src="/img/qrTakeout.png" alt="qr포장" width="100px">
                    <span class="square-button fw-1 white">포장</span>
                </a>
            </div>
        </div>
        <!-- 공지사항 팝업 -->
        
    </div>
</body>
</html>