<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/qr/qr_layout}"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR오더</title>
</head>
<body  layout:fragment="content">
    <div class="container">
        <div class="allcenter">
            <div class="flex flex-column justify-content-center align-items-center">
                <div class="qr_order mt-5 mb-5" >QR order</div>
                
                <!-- 매장 식사 -->
                <a href="/qr/product/list/hall" class="rectangle flex flex-column justify-content-center align-items-center gap-2">
                    <img src="/img/qr매장.png" alt="qr매장" width="100px">
                    <span class="color-white">매장식사</span>
                </a>
        
                <!-- 포장 -->
                <a href="/qr/product/list/takeout" class="rectangle flex flex-column justify-content-center align-items-center gap-2">
                    <img src="/img/qr포장.png" alt="qr포장" width="100px">
                    <span class="color-white">포장</span>
                </a>
            </div>
        </div>
        <!-- 공지사항 팝업 -->

    </div>
</body>
</html>
