<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png" />
  <script src="https://js.tosspayments.com/v2/standard"></script>
</head>

<body>
  <!-- 결제 UI -->
  <div id="payment-method" style="display: flex"></div>
  <!-- 이용약관 UI -->
  <div id="agreement"></div>
  <!-- 결제하기 버튼 -->
  <button class="button" id="payment-button" style="margin-top: 30px">결제하기</button>
  <!-- 결제 취소 버튼 -->
  <button class="button" id="cart-button" style="margin-top: 30px" onclick="location.href='/qr/cart'">결제취소</button>

  <script>
    main();

    async function main() {
      const button = document.getElementById("payment-button");
      // ------  결제위젯 초기화 ------
      const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
      const tossPayments = TossPayments(clientKey);
      // 회원 결제
      const customerKey = "UDkBzTf8DT65qg_pjsT3Z";
      const widgets = tossPayments.widgets({
        customerKey,
      });

      // ------ 주문의 결제 금액 설정 ------
      await widgets.setAmount({
        currency: "KRW",
        value: Number("[[${amount}]]"),
      });
      // await widgets.setAmount(totalPrice);

      await Promise.all([
        // ------  결제 UI 렌더링 ------
        widgets.renderPaymentMethods({
          selector: "#payment-method",
          variantKey: "DEFAULT",
        }),
        // ------  이용약관 UI 렌더링 ------
        widgets.renderAgreement({
          selector: "#agreement",
          variantKey: "AGREEMENT"
        }),
      ]);

      // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
      button.addEventListener("click", async function () {
        await widgets.requestPayment({
          orderId: "[[${orderId}]]",
          orderName: "[[${title}]]",
          successUrl: window.location.origin + "/page/success.html",
          failUrl: window.location.origin + "/page/fail.html",
          customerEmail: "customer123@gmail.com",
          customerName: "김토스",
          customerMobilePhone: "01012341234",
        });
      });
    }
  </script>
</body>

</html>